@charset "Shift_JIS";

/* Common Color Setting */

#header {
	border-top: 5px solid #AAD339;
}
.txtIcon {
	background: #AAD339;
	color: #fff;
	padding: 2px 5px 0;
}
#header.oldHead {
    background: url(/aib/images/renew/headerbg_normal.gif) repeat-x;
}
.head1 {
	border-bottom: 8px solid #b0d64f;
}
.head3:before {
	background: #b0d64f;
}
.lt-ie9 .head3 {
	background: url(/aib/images/renew/icon-head3.png) no-repeat 0 3px;
}
.lt-ie9 .head3:before {
	display: none;
}
.box02,
.finSect .boxSetLine,
.prid05area.colorLine {
	border-color: #95C716;
}
.head2,
.head3,
.icon_head,
.box02 h4,
.finSect .boxSetLine h3,
.finSect .box01 h3,
.arrowBg,
.nextArrow,
.random_txt strong,
.random_txt h3,
.prid03area h3,
.colorTxt {
	color: #060;
}
.box03,
select,
.inputSelect,
.inputTxt,
.table03 th,
.evenLine td,
.tableStyle .hLSel01,
.recommendBox /* Recommend Style */ {
	background: #F5FFDA;
}

#Footer {
	border-top: #005B24 4px solid;
}
.table02 th,
.prid05area.colorLine h3 {
	background: #97C814;
}
.table04 th {
	background: #C9EF65;
	color: #050;
}
.tableStyle .total th,
.tableStyle .total td {
	border-top: 3px solid #98C918 !important;
}
	.matrixTable th {
		background: #005A28;
	}
	.matrixTable td,
	div#softwareKeyPad div.boxSetBg {
		background: #F0FAD2;
	}
		.icon_head span,
		.tablet #header.oldHead .headh1 {
			background: #96C814;
		}

/* Step Setting */

.step2-0 {
	background: url(/aib/images/renew/cmn-step2-0.png) no-repeat;
}
.step2-1 {
	background: url(/aib/images/renew/cmn-step2-1.png) no-repeat;
}
.step2-2 {
	background: url(/aib/images/renew/cmn-step2-2.png) no-repeat;
}
.step4-0 {
	background: url(/aib/images/renew/cmn-step4-0.png) no-repeat;
}
.step4-1 {
	background: url(/aib/images/renew/cmn-step4-1.png) no-repeat;
}
.step4-2 {
	background: url(/aib/images/renew/cmn-step4-2.png) no-repeat;
}
.step4-3 {
	background: url(/aib/images/renew/cmn-step4-3.png) no-repeat;
}
.step4-4 {
	background: url(/aib/images/renew/cmn-step4-4.png) no-repeat;
}
.lt-ie8 .prid05area h2 a,
.lt-ie8 .prid03area h2 a {
	background: url(/aib/images/renew/icon-link-04.png) no-repeat 0 4px;
}


/* Button Setting */

.topLine .help li a,
#suvNav li:before,
.closeBtn,
#glNav li a,
.btnLogout a,
#toTop a,
.iconlink a:before,
a.iconlink:before,
.iconOutlink a:before,
a.iconOutlink:before,
.iconQlink a:before,
a.iconQlink:before,
.noLink:before,
.infoBlock .inqBtn a,
.prid03area h2 a:before,
.prid05area h2 a:before {
  background: url(/aib/images/renew/cmn-sprite.png) no-repeat;
}
.iconlink a:before,
a.iconlink:before {
	background-position: -56px -15px;
}
.iconOutlink a:before,
a.iconOutlink:before {
	background-position: 0 -15px;
}
.iconQlink a:before,
a.iconQlink:before {
	background-position: -71px -15px;
}
.lt-ie8 .iconlink a,
.lt-ie8 .iconOutlink a,
.lt-ie8 .iconQlink a {
	position: static;
	zoom: 1;
}

/* 共通ボタン */

.lt-ie8 .iconlink a,
.lt-ie8 a.iconlink {
	background: url(/aib/images/renew/icon-link-04.png) no-repeat 0 4px;
}
.lt-ie8 .iconOutlink a,
.lt-ie8 a.iconOutlink {
	background: url(/aib/images/renew/icon-link-02.png) no-repeat 0 4px;
}
.lt-ie8 .iconQlink a,
.lt-ie8 a.iconQlink {
	background: url(/aib/images/renew/icon-link-05.png) no-repeat 0 4px;
}
.lt-ie8 a.iconlink,
.lt-ie8 a.iconOutlink {
	background-position: 0 1px;
}
.lt-ie8 .headge a.iconlink,
.lt-ie8 .headge a.iconOutlink {
	background-position: 0 4px;
}
.lt-ie8 a.iconQlink {
	background-position: 0 1px;
}
.printBtn a {
	background: url(/aib/images/renew/btn-print.png) no-repeat;
}
.lt-ie8 #suvNav li {
	background: url(/aib/images/renew/icon-link-01.png) no-repeat 0 5px;
}


/* 口座照会ボタン */

.inputSubmit {
	background: url(/aib/images/renew/btn-form-04.png) no-repeat;
}
.inputSubmit.iSw2 {
	background: url(/aib/images/renew/btn-form-02.png) no-repeat;
}
.inputSubmit.iSw3 {
	background: url(/aib/images/renew/btn-form-03.png) no-repeat;
}
.inputSubmit.iSw4 {
	background: url(/aib/images/renew/btn-form-04.png) no-repeat;
}
input.meisai-a01 {
	background: url(/aib/images/renew/btn-meisai-a01.png) no-repeat;
}
input.meisai-a02 {
	background: url(/aib/images/renew/btn-meisai-a02.png) no-repeat;
}
input.meisai-a03 {
	background: url(/aib/images/renew/btn-meisai-a03.png) no-repeat;
}
input.meisai-a04 {
	background: url(/aib/images/renew/btn-meisai-a04.png) no-repeat;
}
input.meisai-a05 {
	background: url(/aib/images/renew/btn-meisai-a05.png) no-repeat;
}
input.meisai-a06 {
	background: url(/aib/images/renew/btn-meisai-a06.png) no-repeat;
}
input.meisai-a07 {
	background: url(/aib/images/renew/btn-meisai-a07.png) no-repeat;
}
.meisai-c02 a {
	background: url(/aib/images/renew/btn-download.png) no-repeat;
}
.meisai-c03 a {
	background: url(/aib/images/renew/btn-money.png) no-repeat;
}
.meisai-b01 a {
	background: url(/aib/images/renew/btn-meisai-b01.png) no-repeat;
}
.meisai-b02 a {
	background: url(/aib/images/renew/btn-meisai-b02.png) no-repeat;
}
.meisai-b03 a {
	background: url(/aib/images/renew/btn-meisai-b03.png) no-repeat;
}
.meisai-b04 a {
	background: url(/aib/images/renew/btn-meisai-b04.png) no-repeat;
}
.changeBtn {
	background: url(/aib/images/renew/btn-change.png) no-repeat;
}


/* 振込・振替ボタン */

.furikomiTop .fToph01 {
	background: url(/aib/images/renew/img-furikomi-02.png) no-repeat;
}
input.shinkitouroku {
	background: url(/aib/images/renew/btn-furikomi-a01.png) no-repeat;
}
input.henkou {
	background: url(/aib/images/renew/btn-furikomi-a02.png) no-repeat;
}
input.sakujo {
	background: url(/aib/images/renew/btn-furikomi-a03.png) no-repeat;
}
input.kinyu_henkou {
	background: url(/aib/images/renew/btn-furikomi-b01.png) no-repeat;
}
input.uketorinin {
	background: url(/aib/images/renew/btn-furikomi-c02.png) no-repeat;
}
.notice_mail {
	background: url(/aib/images/renew/btn-furikomi-b03.png) no-repeat;
}
.btn_charge {
	background: url(/aib/images/renew/btn-furikomi-c01.png) no-repeat;
}
.furikomiJyougen {
	background: url(/aib/images/renew/btn-furikomi-b04.png) no-repeat;
}
.ryui {
	background: url(/aib/images/renew/btn-furikomi-b05.png) no-repeat;
}
.arrowBg {
	background: url(/aib/images/renew/img-furikomi-07.png) center bottom no-repeat;
}
.nextArrow {
	background: url(/aib/images/renew/img-furikomi-07.png) left 10px no-repeat;
}
.nextArrowBox {
	background: url(/aib/images/renew/img-furikomi-07.png) center bottom no-repeat;
}
.furikomi-a04 {
	background: url(/aib/images/renew/btn-furikomi-a04.png) no-repeat;
}
.furikomi-a05 {
	background: url(/aib/images/renew/btn-furikomi-a05.png) no-repeat;
}
.furikomi-a06 {
	background: url(/aib/images/renew/btn-furikomi-a06.png) no-repeat;
}
.furikomi-a07 {
	background: url(/aib/images/renew/btn-furikomi-a07.png) no-repeat;
}
.furikomi-a08 {
	background: url(/aib/images/renew/btn-furikomi-a08.png) no-repeat;
}
.furikomi-b04 {
	background: url(/aib/images/renew/btn-furikomi-b04.png) no-repeat;
}
.furikomi-b06 {
	background: url(/aib/images/renew/btn-furikomi-b06.png) no-repeat;
}
.furikomi-b07 {
	background: url(/aib/images/renew/btn-furikomi-b07.png) no-repeat;
}
.furikomi-b08 {
	background: url(/aib/images/renew/btn-furikomi-b08.png) no-repeat;
}
.furikomi-b09 {
	background: url(/aib/images/renew/btn-furikomi-b09.png) no-repeat;
}
.furikomi-b10 {
	background: url(/aib/images/renew/btn-furikomi-b10.png) no-repeat;
}
.furikomi-b11 {
	background: url(/aib/images/renew/btn-furikomi-b11.png) no-repeat;
}
.furikomi-b12 {
	background: url(/aib/images/renew/btn-furikomi-b12.png) no-repeat;
}
.furikomi-b13 {
	background: url(/aib/images/renew/btn-furikomi-b13.png) no-repeat;
}
.furikomi-b14 {
	background: url(/aib/images/renew/btn-furikomi-b14.png) no-repeat;
}
input.popclose {
	background: url(/aib/images/renew/btn-furikomi-c03.png) no-repeat;
}


/* インクルードボタン */

.btn-other-a01 {
	background: url(/aib/images/renew/btn-other-a01.png) no-repeat;
}
.btn-other-a02 {
	background: url(/aib/images/renew/btn-other-a02.png) no-repeat;
}
.btn-other-a03 {
	background: url(/aib/images/renew/btn-other-a03.png) no-repeat;
}
.btn-other-a04 {
	background: url(/aib/images/renew/btn-other-a04.png) no-repeat;
}
.btn-other-a05 {
	background: url(/aib/images/renew/btn-other-a05.png) no-repeat;
}
