	@import "/aib/common_css/default.css";
	@import "/aib/common_css/component.css";

/*LOCALNAVIGATION */
#contents ul.navi_local {
	height: 43px !important;
	height /**/: 60px;
	padding-top: 17px;
	overflow: hidden;
	width: 540px;
}

#contents ul.navi_local li {
	float: left;
	height: 43px;
}

#contents ul.navi_local li.top,
#contents ul.navi_local li.top_active {
	width: 108px;
}

#contents ul.navi_local li.beginner,
#contents ul.navi_local li.beginner_active {
	width: 83px;
}

#contents ul.navi_local li.howto,
#contents ul.navi_local li.howto_active {
	width: 83px;
}

#contents ul.navi_local li.security,
#contents ul.navi_local li.security_active {
		width: 80px;
}

#contents ul.navi_local li.order,
#contents ul.navi_local li.order_active {
	width: 95px;
}

#contents ul.navi_local li.faq,
#contents ul.navi_local li.faq_active {
	width: 40px;
}

#contents ul.navi_local li.demo, 
#contents ul.navi_local li.demo_active {
	width: 51px;
}



/*[/kojin/direct/] common */

#contents p.p_subtitleLink {
	font-size: x-small;
	font-weight: bold;
	margin: -38px 0px 38px 0px;
	text-align: right;
}

#contents div.d_date{
	text-align: right;
	width: 540px;
}

#contents div.d_image540 {
	margin: 0px 0px 20px 0px;
}

#contents span.sp_uppercase{
	text-transform:uppercase;
}

#contents ul.ordered01 ol.ordered03 {
	padding: 0px 0px 2px 16px;
}

#contents table.separater {
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 0px 0px 10px 0px;
	width: 100%;
}


#contents_link div.leftMenuBottom{
margin:5px 0 0 0;
text-align:center;
}

#contents_link div.leftMenuBottom img{
margin-top:3px;
}

#contents_link div.leftMenuTop{
	background: url(/aib/common_images/p_r4.gif) no-repeat top left;
	padding: 35px 3px 0px 6px;
	text-align:center;
	width: 186px !important;
	width /**/: 195px;
}

#contents_link div.leftMenuTop img{
margin-top:3px;
margin-right:10px;
}

#navi_osusume h2 {
	background: none!important;
	padding: 10px 0px 0px 6px;
	width: 189px !important;
	width /**/: 195px;
}

#contents table.separater td.left {
	background-color: #FFFFE6;
	border: solid 1px #CCCCCC;
	padding: 5px 9px 5px 9px;
	text-align:center;
	vertical-align: top;
	width: 140px !important;
}

#contents table.separater td.right {
	border: solid 1px #CCCCCC;
	padding:0px !important;
	text-align:center;
	vertical-align: top;
	width: 363px !important;
	width /**/: 365px;
}

#contents table.separater td.space {
	width:15px;
}

#contents h2.seph2 {
	font-size: medium;
	margin: 0px;
	padding: 0px 0px 5px 0px;
}

#contents h2.seph2R {
 display:block;
	background-color:#D3FFA6;
	border-bottom:#CCCCCC;
	font-size: medium;
	margin: 0px;
	padding: 5px 0px 5px 0px;
}


#contents table.separater td img{
margin-top:10px;
}

#contents table.separater td.left p{
text-align:left;
}

#contents div.sepBox{
padding:9px 9px 2px 9px;
}
#contents div.sepBoxFloatL{
float:left;
}
#contents div.sepBoxFloatR{
float:right;
}

#contents div.sepBoxG{
background-color:#F5F5F5;
padding:5px 9px 2px 9px;
margin:0px;
}

#contents div.secondBoxR{
	float:right;
	margin-bottom:5px;
	vertical-align: top;
	width: 365px !important;
}

#contents div.secondBoxL{
	background-color:#EFFFFF;
	border: solid 1px #CCCCCC;
	float:left;
	width: 158px !important;
	width /**/: 160px;
}

#contents div.secondBoxL h3.securityB {
	padding:2px 0px 4px 0px;
}

#contents div.secondBoxL h3.securityB a{
	font-size:small;
	color:#FF6600;
	text-decoration: underline;
}

#contents div.secondBoxL h3.security a{
display:block;
	font-size:small;
	margin-bottom:5px;
}

#contents div.secondBoxL div.securityBox{
background: url(/aib/img/p_index_dotline.gif) no-repeat bottom left;
margin:5px 0;
padding:10px 5px;
width: 148px !important;
width /**/: 158px;
}

#contents div.secondBoxL div.securityBoxNoBg{
background: none;
margin:5px 0 0 0;
padding:10px 5px 0px 5px;
width: 148px !important;
width /**/: 158px;
}

#contents div.secondBoxL div.floatRightBox{
float:right;
width:90px;
}
#contents div.secondBoxL div.floatLeftBox{
float:left;
padding-right:5px;
width: 50px !important;
width /**/: 55px;
}

#contents div.secondBoxL div.floatRightBoxT{
float:right;
width:110px;
}
#contents div.secondBoxL div.floatLeftBoxT{
float:left;
padding-right:5px;
width: 30px !important;
width /**/: 35px;
}

#contents h2.seph2SecondL {
	display:block;
	background-color:#BBE0E3;
	border-bottom:#CCCCCC;
	font-size: medium;
	margin: 0px;
	padding: 5px 0px 5px 0px;
	text-align:center;
}

#contents div.serviceBox{
	vertical-align: top;
	width : 365px;
}

#contents div.serviceBox h2 {
	color: #006600;
 display:block;
	background-color:#D3FFA6;
	border: solid 1px #CCCCCC!important;
	font-size: medium;
	margin: 0px !important;
	padding: 5px 0px 5px 10px;
}

#contents table.tableService {
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 10px 10px 10px 10px;
	width:343px;
}

#contents table.tableService th.leftTh{
border-bottom: solid 1px #CCCCCC;
	padding: 7px 0px 5px 0px;
	text-align:left;
	vertical-align:top;
	width: 77px !important;
	width /**/: 87px;
}

#contents table.tableService th.rightTh{
padding: 5px 0px 5px 0px;
	text-align:right;
}

#contents img.patop4{
	padding:4px 0px 0px 0px;
}

#contents table.tableService td.rightTd{
	border-bottom: solid 1px #CCCCCC;
	padding: 5px 0px 5px 0px;
	width: 231px !important;
	width /**/: 233px;
}

#contents table.tableService td.rightTd img{
margin:2px 0 3px;
}

#contents table.tableService td.space {
	width:10px;
}

#contents table.tableService td.rightTd img.floatR{
float:right;
text-align:right;
margin-top:-15px;
width:23px;
}

#contents div.secondBoxR h2 {
	color: #006600;
 display:block;
	background-color:#D3FFA6;
	border: solid 1px #CCCCCC;
	font-size: medium;
	margin: 0 0 5px 0 !important;
	padding: 5px 0px 5px 10px;
}

#contents div.secondBoxR div.right {
text-align:right;
}

#contents h2.noSquare {
	color: #006600;
 display:block;
	background-color:#D3FFA6;
	border: none;
	font-size: medium;
	margin: 15px 0 0 0;
	padding: 5px 0px 5px 10px;
}


#contents div.groupLinkBox{
margin:10px 0;
text-align:center;
}

#contents table.groupLink{
margin:7px auto 7px auto;
}

#contents table.groupLink td{
background: url(/aib/img/x_line_height.gif) repeat-y top right;
text-align:center;
	padding: 0px;
	width:180px;
}

#contents table.groupLink td.noBg{
background:none;
text-align:center;
	padding: 0px;
	width: 180px !important;
	width /**/: 180px;
}

#contents_link div#navi_osusume ul.textlink {
	font-size:small;
	padding:5px 5px 5px 7px;
	width:164px !important;
	width /**/:178px;
}

#contents_link div#navi_osusume ul.textlink {
}

#contents_link div#navi_osusume ul.textlink div.linkli {
	padding:0px 0px 4px 0px;
	text-align:left;
}

#contents_link div#navi_osusume ul.textlink li div.linktext {
	padding:0px 0px 4px 5px;
}

#contents_link img.leftimg {
	float:left;
	padding:0px 3px 0px 0px;
}

#contents_link img.rightimg {
	float:right;
	padding:0px 3px 0px 3px;
}

#contents_link div.floatbox {
 padding:4px 4px 4px 5px;
}

p.paragraphList00 {
	font-size: 72%;
	line-height: 120%;
	padding: 5px 0 5px 12px;
}

#contents div.browseerdiv p.paragraph {
	text-align:left;
	margin:0px;
	padding:0px 0px 4px 9px;
}

#navi_osusume p {
	font-size: small;
	margin-top: 6px;
	text-align: right;
	width: 184px;
}

/* [/aib/index.html] serviceTable */
#contents table.serviceMenu_aib td p span.nowrap {
white-space:nowrap;
}

#contents table.serviceMenu_aib{
background:url(/aib/img/p_index_listbg1.gif) top left no-repeat;
width:363px;
}

#contents div.itemMenu {
margin-bottom:5px;
}

#contents div.itemMenu div.pack h3 {
font-size: 80%;
float:left;
}

#contents div.itemMenu p.newsInfo {
font-size: 80%;
}

#contents div.itemMenu div.pack p.floatRight {
font-size:small;
padding-left:15px;
float:right;
}

#contents div.serviceList_aib{
padding:5px 0px 0px 0px;
}

#contents table.serviceMenu_aib th{
background:url(/aib/img/p_index_listbg4.gif) top left no-repeat;
text-align:center;
width: 62px !important;
} 

#contents table.serviceMenu_aib th h3.listH3{
display:block;
float:none !important;
font-size:small !important;
text-align:center;
padding:7px 2px 5px 2px;
width: 58px !important;
width /**/: 62px;
}

#contents table.serviceMenu_aib td{
vertical-align:middle;
text-align:left;
paddiing:0px 0px 0px 0px;
width: 230px !important;
width /**/: 230px;
}

#contents table.serviceMenu_aib td.rightEnd{
vertical-align:middle;
text-align:right;
paddiing:0px 0px 0px 10px;
width: 61px !important;
width /**/: 71px;
}

#contents table.serviceMenu_aib td.topLine{
background:url(/aib/img/p_index_listbg1.gif) bottom left no-repeat;
height:5px;
width:363px;
}

#contents table.serviceMenu_aib td.bottomLine{
background:url(/aib/img/p_index_listbg2.gif) top left no-repeat;
height:17px;
width:363px;
}

#contents table.serviceMenu_aib td.bottomLine2{
background:url(/aib/img/p_index_listbg3.gif) top left no-repeat;
height:10px;
width:363px;
}

#contents table.serviceMenu_aib td p{
	color:#999999;
	display:block;
	font-size: small;
	line-height: 150%;
	margin: 0px;
	padding: 0px 0px 0px 10px;
}

#contents table.serviceMenu_aib td.rightEnd p{
	color:#999999;
	display:block;
	font-size: small;
	line-height: 150%;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

/* [/aib/index.html] toiawase */

#contents div.toiawase_aib{
background-color:#ffffe6;
margin:5px 0 0 0;
padding: 5px 10px 5px 10px;
float:left;
width: 343px !important;
width /**/: 363px;
}

#contents div.toiawase_aib h3.smallHeading {
	font-size: small;
	margin: 0 0 5px 0;
	padding: 0px;
}

#contents div.toiawase_aib img.freedial {
margin-right:5px;
}

#contents div.toiawase_Accept{
background-color:#ffffff;
margin: 0;
padding: 0 10px 0 10px;
float:left;
width: 343px !important;
width /**/: 363px;
}

#contents div.toiawase_Accept h3.smallHeading {
	font-size: small;
	margin: 0 0 5px 0;
	padding: 0px;
}

#contents div.toiawase_Accept img.freedial {
margin-right:5px;
}
