@charset "Shift_JIS";

body.headLine {
	background-image: url(/aib/images/renew/headerbg_normal.gif);
}

body.forPrint{
	background-image: url(/aib/images/renew/headerbg_forprint_normal.gif) ;
}

#CMNhelpInfo {
	color: #005a28;
}
#CMNhelpInfo li strong{
	color: #005a28; 
}
#CMNhelpInfo{
	background-color: #f0fad2;
}
#CMNsiteMenu{
	border-color: #96c814;
}


#CMNsiteMenu h4{
	/*color: #96c814;*/
	color: #82B400;
	background-image: url("/aib/images/renew/bulleth4circle_normal.gif");
}

/*copyright*/
#CMNfooter {
	border-color: #96c814; 
}

h1{
	color: #005a28;
}

h2{
	color: #005a28;
	background-image: url("/aib/images/renew/allowh2_normal.gif");
}

h2.bullet{
	background-image: url("/aib/images/renew/h2_circle_normal.gif");
}

h3{
	color: #005a28;
}

h3.bullet{
	background-image: url("/aib/images/renew/allow_h3_normal.gif");
}
h4{
	color: #005a28;
}
h4.bullet{
	color: #96c814;
	background-image: url("/aib/images/renew/bulleth4circle_normal.gif");
}
.choicedColor{
	color: #005a28;
}
.choicedColor2{
	color: #96c814;
}
.choicedColor3{
	background-color: #f0fad2
}
/*table*/
table{
	border-color: #96c814;
}
th{
	color: #005a28;
	background-color: #f0fad2;
	border-color: #96c814;
}
th.bgColorGreenBottomWhiteline{
	background-color:#96c814;
}
th.bgColorGreenWhiteline{
	background-color:#96c814;
}
th.bgColorGreen{
	background-color:#96c814;
}
td{
	border-color: #96c814;
}
td.bgColorGreen{
	background-color: #f0fad2;
}
tr.bgColorGreen{
	background-color: #f0fad2;
}
td.navi{
	background-color: #f0fad2;
	color: #005a28;
}

td.applicat{
	color: #005a28;
}

caption{
	color: #005a28;
	background-color :#f0fad2;
	border-color: #96c814;
}

div#furikomi-17 div.convBox{
	border-color: #96c814!important;
}

/*カナテーブル*/
table.kanaKensaku table.layout td{
	border-color: #96c814;
}

/*下向き画像矢印*/
div.nextArrow{
	background-image: url(/aib/images/renew/next_arrow_normal.gif);
	color: #005a28;
}
div.nextArrowBig{
	background-image: url(/aib/images/renew/next_arrow_b_normal.gif);
}

/*ul リスト*/
ul.normalCircle li{
	background-image: url("/aib/images/renew/bullet_circle_normal.gif");
}

ul.normalCircle.Arrow li{
	background-image: url("/aib/images/renew/allowh2_normal.gif");
}

/*BOX*/
div.bgBox{
	background-color: #f0fad2;	
}
div.bgBoxFlow766{
	background-color: #f0fad2;	
}
div.bgBoxFlow600{
	background-color: #f0fad2;	
}

div.boxSetBg{
	background-color: #f0fad2;	
}
div.boxSetLine{
	border-color: #96c814;
}

div.boxSetLine2{
	border-color: #96c814;
}
div.boxSetLine2 div.boxSetBg{
	background-color: #96c814;	
}
div.boxSetLine3{
	border-color: #96c814;
}

/*ソフトウェアキーボード*/
div.secondSecretNumber table th{
	background-color: #005a28;
}

div.secondSecretNumber table td{
	background-color: #f0fad2;
}
div.lineBox{
	border-color: #96c814;
}
div.softWareKeybord div.boxSetBg{
	border-color: #96c814;
}

/*thにクラスを指定せず背景色を変更する*/
div.thBgColorGreen th {
	background-color: #96c814;
}

/* 全体のdiv色　*/

div.bgArea{
	background-color:#f0fad2;
	padding:15px;
}

/*toto color*/
.td22_01, .td46_01, .llw {border-left:1px solid #96C814 !important;}
.tablewrap {
	border:1px solid #96C814;
	border-collapse:collapse;
	border-left:none;
	border-bottom:none;
}
.tablewrap td {border-bottom:none;}
.tablewrap td .intable td {
	border:1px solid #96C814;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
.tablewrap .intable .rlw {
	border-right:1px solid #96C814;
}
}

/*============================================
/	print out
/=============================================*/

@media print{
	body{
		background-image:none;
		font-size: 80%;
		width: 100%;
		}
	/*menu*/
	#CMNglobalMenu {
		background-color: #96c814;
		width: 100%;
	}
		#CMNglobalMenu li.bTop a{
			width: 70px;
		}
		#CMNglobalMenu li.bKouza a{
			width: 158px;
		}
		#CMNglobalMenu li.bFurikomi a{
			width: 82px;
		}
		#CMNglobalMenu li.bService a{
			width: 133px;
		}
		#CMNglobalMenu li.bConsul a{
			width: 79px;
		}
		#CMNglobalMenu li.bContact a{
			width: 100px;
			border-right: none;
		}
		#CMNsiteMenu  h4{
			/*padding-left: 0;*/
		}

	div#CMNcontainer{
		width: 99%;
	}
	div#CMNglobalMenu{
		width: 99%;
	}

	ul.cap li{
		width: 100%;
	}
	div.basearea{
		width: 100%;
	}
	div.basearea div.wrapper{
		width: 100%;
	}
	/*underMenu*/
	#CMNsiteMenu div.right-box{
		width: 48%;
		margin: 5px 5px 5px 0;
		font-size: 80%;
	}
	#CMNsiteMenu div.left-box{
		width: 48%;
		margin: 5px 0 5px 5px ;
		font-size: 80%;
	}
	#CMNsiteMenu div.left-flow-box{
		width: 48%;
	}
	#CMNsiteMenu div.right-flow-box{
		width: 48%;
	}

	/*****print******/
	body.forPrint{
		margin:0;
		background-image: none;
	}
	body.forPrint div#CMNheader{
		border-bottom: 3px solid;
		height: 70px;
		width: 100%;
	}
	body.forPrint div#CMNheader img.logo{
		margin: 10px 0 10px 0;
	}
	body.forPrint div.basearea{
		width: 98%;
		padding: 20px 0 10px 0;
	}
	body.forPrint div#CMNcontainer{
		width: 100%;
	}
	body.forPrint h1{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:98%;
	}
	body.forPrint h2{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:98%;
	}
	body.forPrint h3{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:98%;
	}
	body.forPrint h4{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:98%;
	}

	/******forClerk******/
	body.forClerk{	
		margin: 0;
	}
	body.forClerk div.basearea{
		width: 100%;	
		padding: 0 0 10px 0;
	}
	body.forClerk div#CMNcontainer{
		width: 100%;
	}
	body.forClerk div#CMNheader{
		width: 100%;
	}
	body.forClerk h1{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:100%;
	}
	body.forClerk h2{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:100%;
	}
	body.forClerk h3{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:100%;
	}
	body.forClerk h4{
		margin: 0 0 10px 0;
		/*padding-left: 0;*/
		width:100%;
	}
	
}

/*============================================
/	連絡用メールアドレス画面タブ化用設定
/=============================================*/

div#change-address-19 {
	border-bottom:#96c814 solid 3px;
}

input.CMNInputGround{
	border: 1px solid; 
	background-color: #f0fad2;
}

/** 運用シミュレーション用 */
.sim_divideTable {

	border: 0;

}

.sim_divideTable th,

.sim_divideTable td {

	border: solid 1px #96c814;

}

.sim_divideTable .sim_noBorder {
	border-top: 0;

	border-bottom: 0;

	background: none;

}

.sim_divideTable .sim_noBorder2 {

 	border: 0;

	background: none;

}

.sim_divideTable .BigArrow {
	background-image: url("/aib/images/renew/sim_05_icon_1_normal.gif");
	background-repeat: no-repeat;
	background-position: center;
}

/*=============================================
/	ライフプランアンケート
/=============================================*/
/*---共通事項---*/
div#login-05 div.boxSetLine.lifePlanEnquete {
	border-top: 3px solid #005a28;
}
div#login-05 .lifePlanEnquete h2 {
	border-bottom: 1px solid #96c814;	
}
div#login-05 .lifePlanEnquete h3 {
	background-color: #96c814;
}

/*---同意確認---*/
div#login-05 .lifePlanEnquete .lpeConfirm {
	border: 1px solid #96c814;
}
div#login-05 .lifePlanEnquete .lpeConfirm li {
	color: #005a28;
}


/*=============================================
/	マイメニュー
/=============================================*/

/*---マイメニュー見出し要素---*/
div#top-02 .myMenuArea .mmaHeading1,
div#top-02 .agreementArea .aaHeading1 {
	background-color: #005a28;
	background-image: url(/aib/images/renew/mm_bk_mymenu_01.gif);	
}
div#top-02 .myMenuArea .mmaHeading3 h3 {
	background-image: url(/aib/images/renew/mm_bk_mymenu_02.gif);
	color: #005a28;
}
div#top-02 .myMenuArea .mmaHTitle01 {
	background-image: url(/aib/images/renew/mm_tit_mymenu_01.gif);
}
div#top-02 .myMenuArea .mmaHTitle02 {
	background-image: url(/aib/images/renew/mm_tit_mymenu_02.gif);
}
div#top-02 .myMenuArea .mmaHBtn01 a {
	background-image: url(/aib/images/renew/mm_btn_mymenu_03.gif);
}
div#top-02 .myMenuArea .mmaHBtn02 a {
	background-image: url(/aib/images/renew/mm_btn_mymenu_04.gif);
}

/*---マイメニューセクション---*/
div#top-02 .agreementArea .aaCBlock {
	border: 1px solid #96C814;
}

/*---マイメニュー設定---*/
div#top-02 .myMenuArea .mmaPanel {
	background-image: url(/aib/images/renew/mm_bk_mymenu_05.gif);
}

/*---マイメニューショートカットリンク---*/
div#top-02 #myMenuGadget .mmaShortcutLink li {
	background-image: url(/aib/images/renew/mm_bk_mymenu_10.gif);
}
div#top-02 #myMenuGadget .mmaShortcutLink a {
	color: #005a28;
}

/*---ガジェットエリア大枠---*/
div#top-02 #myMenuGadget .mmaGadgetWrap {
	background-image: url(/aib/images/renew/mm_bk_mymenu_05.gif);
}

/*---ガジェット保存エリア---*/
div#top-02 #myMenuGadget .mmaSaveBox .mmaSaveTxt {
	color: #005a28;
}
div#top-02 #myMenuGadget .mmaSaveBox .mmaSBtn01 a {
	background-image: url(/aib/images/renew/mm_btn_mymenu_05.gif);
}

/*---ガジェット大枠指定（header）---*/
div#top-02 #myMenuGadget .mmaGadgetHeader {
	border-bottom: 2px solid #96c814;
}

/*---ガジェット大枠指定（footer）---*/
div#top-02 #myMenuGadget .mmaGadgetFooter {
	background-image: url(/aib/images/renew/mm_bk_mymenu_09.gif);
}

/*---ガジェット-gID_1【所有口座】---*/
div#top-02 #myMenuGadget #gID_1 h3 {
	background-image: url(/aib/images/renew/mm_tit_gid1_01.gif);
}

/*---ガジェット-gID_2【所有ファンド基準価額】---*/
div#top-02 #myMenuGadget #gID_2 h3 {
	background-image: url(/aib/images/renew/mm_tit_gid2_01.gif);
}

/*---ガジェット-gID_3【リアルタイム為替レート】---*/
div#top-02 #myMenuGadget #gID_3 h3 {
	background-image: url(/aib/images/renew/mm_tit_gid3_01.gif);
}

/*---ガジェット-gID_4【カレンダー】---*/
div#top-02 #myMenuGadget #gID_4 h3 {
	background-image: url(/aib/images/renew/mm_tit_gid4_01.gif);
}

/*---ガジェット-gID_5【おすすめ・キャンペーン情報】---*/
div#top-02 #myMenuGadget #gID_5 h3 {
	background-image: url(/aib/images/renew/mm_tit_gid6_01.gif);
}

/*---ガジェット-gID_6【金融・マーケット・経済全般のニュース】---*/
div#top-02 #myMenuGadget #gID_6 h3 {
	background-image: url(/aib/images/renew/mm_tit_gid7_01.gif);
}

/*---留意事項同意---*/
div#top-02 .agreementArea .aaHTitle01 {
	background-image: url(/aib/images/renew/mm_tit_agreement_01.gif);
}
div#top-02 .agreementArea .aaTxtBox {
	background: #f0fad2;
}

/*---NoScript処理---*/
div#top-02 .topNoscriptArea {
	border: 1px solid #96C814;
}

/*=============================================
/	ライフプランアンケート
/=============================================*/

/*---共通事項---*/
div#top-02 .boxSetLine.lifePlanEnquete {
	border-top: 3px solid #005a28;
}
div#top-02 .lifePlanEnquete h2 {
	border-bottom: 1px solid #96c814;	
}
div#top-02 .lifePlanEnquete h3,
div#top-02 .myMenuArea .lifePlanEnquete h3 {
	background-color: #96c814;
}

/*---同意確認---*/
div#top-02 .lifePlanEnquete .lpeConfirm {
	border: 1px solid #96c814;
}
div#top-02 .lifePlanEnquete .lpeConfirm li {
	color: #005a28;
}


/*===============================================================
/	CMN02 COLOR NORMAL
/===============================================================*/

/* CMN02body */
body#CMN02bodyUnder { background-image: url(/aib/images/renew/cmn02_headerbg_normal.gif); }

/* TOP CMN02container */
body#CMN02body,
body#CMN02bodyTop #CMN02container{ background:#fff url(/aib/images/renew/cmn02_hd_bg_normal.gif) repeat-x left top; }

/* CMN02header */
#CMN02header li.logoutNav a { background:url(/aib/images/renew/cmn02_hd_btn02_normal.gif) no-repeat left top; }
#CMN02header li.securityNav a { background:url(/aib/images/renew/cmn02_hd_btn03_normal.gif) no-repeat left top; }

/* CMN02footer */
#CMN02footer { border-top: 4px solid #005a28; }
#CMN02footer .copyright ul.fMenu li { background:url(/aib/images/renew/cmn02_icon_05.gif) no-repeat left 0.5em; }

/* top-02 */
#CMN02container #top-02 { background:#ebf5d0; }

/* topBlock */
#cmn02contents .topBlock { background:url(/aib/images/renew/cmn02_bg_top_02_normal.gif) repeat-y left top; }
#cmn02contents .topWrap { background:url(/aib/images/renew/cmn02_bg_top_01_normal.gif) no-repeat left top; }
#cmn02contents .topBlockInner { background:url(/aib/images/renew/cmn02_bg_top_03_normal.gif) no-repeat left bottom; }

/* topInfoBlock */
#cmn02contents .topInfoInner { background:url(/aib/images/renew/cmn02_bg_top_info_02_normal.gif) repeat-y left top; }
#cmn02contents .topInfoWrap { background:url(/aib/images/renew/cmn02_bg_top_info_01_normal.gif) no-repeat left top; }
#cmn02contents .topInfoarea { background:url(/aib/images/renew/cmn02_bg_top_info_03_normal.gif) no-repeat left bottom; }
#cmn02contents .topInfoTit { background:url(/aib/images/renew/cmn02_bg_top_info_04_normal.gif) no-repeat 8px center; }
#cmn02contents .arrowLink { background:url(/aib/images/renew/cmn02_icon_04.gif) no-repeat left 0.6em; }
#cmn02contents .blankLink { background:url(/aib/images/renew/cmn02_icon_05.gif) no-repeat left 0.5em; }
#cmn02contents a.arrowLink { background:url(/aib/images/renew/cmn02_icon_04.gif) no-repeat left 0.4em; }

/* webBlock */
#cmn02contents .webBlock { background:#006f47 url(/aib/images/renew/cmn02_bg_top_web_02.gif) no-repeat left bottom; }
#cmn02contents .webTitBlock { background:#006f47 url(/aib/images/renew/cmn02_bg_top_web_01.gif) no-repeat left top; }
#cmn02contents .webInner { background:#fbffef; }
#cmn02contents .updateBtn input { background:url(/aib/images/renew/cmn02_btn_top_webt_02_normal.gif) no-repeat left top; }
#cmn02contents .updateDisableBtn input { background:url(/aib/images/renew/cmn02_btn_top_webt_02_disable.gif) no-repeat left top; }
#cmn02contents .topBlock table.dataTable td { background:#dff8c7; }
#cmn02contents .detailsBtn a { background:url(/aib/images/renew/cmn02_btn_top_web_01_normal.gif) no-repeat left top; }
#cmn02contents .transChBtn a { background:url(/aib/images/renew/cmn02_btn_top_web_02_normal.gif) no-repeat left top; }
#cmn02contents .transChBtn02 a { background:url(/aib/images/renew/cmn02_btn_top_web_07_normal.gif) no-repeat left top; }
#cmn02contents .loginBtn a { background:url(/aib/images/renew/cmn02_btn_top_web_03_normal.gif) no-repeat left top; }

/* webSubBlock */
#cmn02contents .webSubBlock li.pointBtn a { background:url(/aib/images/renew/cmn02_btn_top_web_04_normal.gif) no-repeat left top; }
#cmn02contents .webSubBlock li.kouzaBtn a { background:url(/aib/images/renew/cmn02_btn_top_web_05_normal.gif) no-repeat left top; }
#cmn02contents .webSubBlock li.mailBtn a { background:url(/aib/images/renew/cmn02_btn_top_web_06_normal.gif) no-repeat left top; }

/* topMenuBlock */
#cmn02contents .topMenuBlock li.tmBtn01 a { background:url(/aib/images/renew/cmn02_btn_top_menu_01_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn02 a { background:url(/aib/images/renew/cmn02_btn_top_menu_02_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn03 a { background:url(/aib/images/renew/cmn02_btn_top_menu_03_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn04 a { background:url(/aib/images/renew/cmn02_btn_top_menu_04_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn05 a { background:url(/aib/images/renew/cmn02_btn_top_menu_05_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn06 a { background:url(/aib/images/renew/cmn02_btn_top_menu_06_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmDisableBtn06 { background:url(/aib/images/renew/cmn02_btn_top_menu_06_disable.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn07 a { background:url(/aib/images/renew/cmn02_btn_top_menu_07_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn08 a { background:url(/aib/images/renew/cmn02_btn_top_menu_08_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn09 a { background:url(/aib/images/renew/cmn02_btn_top_menu_09_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn10 a { background:url(/aib/images/renew/cmn02_btn_top_menu_10_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn11 a { background:url(/aib/images/renew/cmn02_btn_top_menu_11_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn12 a { background:url(/aib/images/renew/cmn02_btn_top_menu_12_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn13 a { background:url(/aib/images/renew/cmn02_btn_top_menu_13_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn14 a { background:url(/aib/images/renew/cmn02_btn_top_menu_14_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn15 a { background:url(/aib/images/renew/cmn02_btn_top_menu_15_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn16 a { background:url(/aib/images/renew/cmn02_btn_top_menu_16_normal.gif) no-repeat left top; }
#cmn02contents .topMenuBlock li.tmBtn17 a { background:url(/aib/images/renew/cmn02_btn_top_menu_17_normal.gif) no-repeat left top; }

/* topMessageBlock */
#cmn02contents .topMesBlock { background:url(/aib/images/renew/cmn02_bg_top_mes_02_normal.gif) repeat-y left top; }
#cmn02contents .topMesWrap { background:url(/aib/images/renew/cmn02_bg_top_mes_01_normal.gif) no-repeat left top; }
#cmn02contents .topMesInner { background:url(/aib/images/renew/cmn02_bg_top_mes_03_normal.gif) no-repeat left bottom; }
#cmn02contents .topMesBlock h3 { background:url(/aib/images/renew/cmn02_tit_top_mes_01_normal.gif) no-repeat left top; }

/* myMenuTit */
#cmn02contents .myMenuTit { background: url(/aib/images/renew/cmn02_bg_top_mm_01_normal.gif) repeat-x left top; }
#cmn02contents .myMenuTit h2 { background:url(/aib/images/renew/cmn02_tit_top_mm_01_normal.gif) no-repeat left top!important; }
#cmn02contents .editBtn a { background:url(/aib/images/renew/cmn02_btn_top_mm_01_normal.gif) no-repeat left top; }
#cmn02contents .saveBtn a { background:url(/aib/images/renew/cmn02_btn_top_mm_02_normal.gif) no-repeat left top; }
#cmn02contents .myMenuArea .mmBtn01 a { background:url(/aib/images/renew/cmn02_btn_mm_01_normal.gif) no-repeat left top; }

/* subBlock */
#cmn02contents li.registinfoNav a { background:url(/aib/images/renew/cmn02_sb_btn01_normal.gif) no-repeat left top; }
#cmn02contents li.helpNav a { background:url(/aib/images/renew/cmn02_sb_btn02_normal.gif) no-repeat left top; }
#cmn02contents li.faqNav a { background:url(/aib/images/renew/cmn02_sb_btn03_normal.gif) no-repeat left top; }

/* subBnr*/
#cmn02sub .subInfoBlock { background:url(/aib/images/renew/cmn02_bg_top_sb_02.gif) repeat-y left top; }
#cmn02sub .subInfoWrap { background:url(/aib/images/renew/cmn02_bg_top_sb_01.gif) no-repeat left top; }
#cmn02sub .subInfoInner { background:url(/aib/images/renew/cmn02_bg_top_sb_03.gif) no-repeat left bottom; }
#cmn02contents p.inqBtn a { background:url(/aib/images/renew/cmn02_btn_top_sb_info_01_normal.gif) no-repeat left top; }

@media screen and (max-width:1088px){
#cmn02sub .subInfoBlock { background:url(/aib/images/renew/cmn02_bg_top_sb_05.gif) repeat-y left top; }
#cmn02sub .subInfoWrap { background:url(/aib/images/renew/cmn02_bg_top_sb_04.gif) no-repeat left top; }
#cmn02sub .subInfoInner { background:url(/aib/images/renew/cmn02_bg_top_sb_06.gif) no-repeat left bottom; }
}

/*===============================================================
/	ワンタイムパスワードの入力
/===============================================================*/

/* CMN02header */
#CMN02header p.toTop a{ background:url(/aib/images/renew/cmn02_hd_btn01_normal.gif) no-repeat left top; }

/* CMN02globalMenu */
#CMN02globalMenuWrap{ background:#005a28; }

/* otBlock */
#CMN02container .otBlock{
	background: #ebf5d0;
	border: 2px solid #d0e5a0;
}
#CMN02container .qIcon{	background:url(/aib/images/renew/cmn02_q_icon_normal.gif) no-repeat left top; }
#CMN02container .otBlock .col03 input.imgNext{ background: url(/aib/images/renew/cmn02_login_ip_btn03.gif) no-repeat; }

/* tooltip */
#CMN02container .toolArrow3{ background:url(/aib/images/renew/cmn02_tooltip_bg06.png) no-repeat left top; }
#CMN02container .toolBtm{ background: url(/aib/images/renew/cmn02_tooltip_bg02.png) no-repeat left bottom; }
#CMN02container .tooltip dt{ background: url(/aib/images/renew/cmn02_tooltip_bg04.png) no-repeat left top; }
#CMN02container .tooltip dd{ background:url(/aib/images/renew/cmn02_tooltip_bg03.png) repeat-y left top; }



/*=============================================
/	メガメニュー
/=============================================*/

#CMN02header li.productlistNav a { background-image: url(/aib/images/renew/cmn02_hd_btn04_normal.gif); }
#CMN02header li.productlistNav a.open{ background-image: url(/aib/images/renew/cmn02_hd_btn04_on_normal.gif); }
#CMN02suvNav li{ background-image: url(/aib/images/renew/cmn02_arrow_01_normal.gif); }
#CMN02suvNav .closeBtn { background-image: url(/aib/images/renew/cmn02_btn_close_01_normal.gif); }