@charset "Shift_JIS";

/*=============================================
/	top-02
/=============================================*/

div#top-02 div.wrapper{
	padding-bottom: 98px;
	width: 512px;
}
div#top-02 div.menuBoxL{
	float: left;
}
div#top-02 div.menuBoxR{
	float: right;
}
/*口座名*/
div#top-02 ul.normalCircle a{
	font-size: 120%;
	font-weight: bold;
}
div#top-02 ul.normalCircle li{
	background-position: 0 8px;
}

div.basearea #topSpace45{
	margin-top: 45px;
}

/*所有口座一覧*/
div#top-02 div#syoyuKozaList{
	float: right;
/*	width:170px; */
	margin: 10px 0 0 0;
	text-align: left;
}

/*セキュリティ設定*/
div#top-02 div.left-box{
	float: left;
	width: 52%;
}
div#top-02 div.right-box{
	float: right;
	width: 42%;
}
div#top-02 div.left-box li{
	line-height: 120%;
	margin-bottom: 5px;
}
div#top-02 ul#importantInfo{
	margin:0;
	padding: 0;
}
div#top-02 ul#importantInfo li{
	margin-left: 16px;
	color: #000000;
	margin-bottom: 10px;
}
 
div#top-02 div.message{
	color: #000000;
	display: block;
}
div#top-02 div#securityTitle div.loginMessage{
	float: right;
	font-size: 95%;
}
div#top-02 div.boxSetBg#securityTitle span.linkColor, div#top-02 div.boxSetBg#securityTitle a{
	font-size: 95%;
}
div#top-02 h3 span.linkColor{
	font-weight: normal;
}
div#top-02 h3 a{
	font-weight: normal;
}
div#top-02 h3 {
	float: left;
}
div#top-02 h4.bullet{
	margin: 4px 0 6px 0;
}
div#top-02 div.muryoOtameshi2 {
	margin: 5px 0 20px;
	padding: 8px 10px 5px;
	border: 1px solid #cc3333;
	line-height: normal;
	text-align: center;
}
div#top-02 span.muryoOtameshi3 {
	FONT-SIZE: 120%
}

/*totoキャンペーンリンク*/
div#top-02 div.totolink {
	margin-left: 128px;
}
div#top-02 div.totolink2 {
	width: 478px;
	float: left;
	text-align: left;
}
div#top-02 div.totoCampaign {
	margin: 15px 0 10px;
	padding: 8px 10px 5px;
	border: 1px solid #cc3333;
	line-height: normal;
	text-align: center;
}
div#top-02 table.voteSmbcToto {
	width: 160px;
	float: right;
	margin: 0;
}
div#top-02 td.voteSmbcToto2 {
	padding: 1px 3px;
	text-align: left;
}




/*=============================================
/	トップ基本情報
/=============================================*/
div#top-02 .topInfoArea {
	width: 766px;
}
div#top-02 .topInfoArea .tiaColumnL {
	float: left;
	width: 520px;
}
div#top-02 .topInfoArea .tiaColumnR {
	float: right;
	width: 245px;
}
div#top-02 .topInfoArea .tiaColumnL .totolink {
	margin-left: 5px;
}
div#top-02 .topInfoArea .tiaColumnL #syoyuKozaList {
	float: none;
	margin-left: 125px;
}
div#top-02 .wrapper .tiaMessage {
	margin-left: 53px;
}
div#top-02 .wrapper .tiaMessage span {
	color: #fe0000;
	font-weight: bold;
}
div#top-02 .topInfoArea .tiaColumnR .tlbSp {
	margin-bottom: 20px;
}

div#top-02 .wrapper.tiaPb30 {	padding-bottom: 30px !important; }

* html div#top-02 .topInfoArea { zoom: 1; } /* ie6 */
*:first-child+html div#top-02 .topInfoArea { zoom: 1; } /* ie7 */
div#top-02 .topInfoArea:after { content: ''; display: block; clear: both; height: 0; }



/*=============================================
/	マイメニュー
/=============================================*/
div#CMNcontainer{
	width: 100%;
}

/*---マイメニュー囲み---*/
div#top-02 .contentsAreaWrap {
	position: relative;
	width: 720px;
	margin: 23px 0 20px;
/*	padding: 0 0 15px;*/

}

div#top-02 .contentsAreaWrap .cawNote {
	margin: 0 0 8px;
	color: #f00;
	font-weight: bold;
	text-align: left;
}

/*---マイメニュー設定ボタン---*/
div#top-02 .myMenuBtnArea {
	width: 350px;
	margin: 0 auto 30px;
	text-align: left;
	font-size: 90%;
}
div#top-02 .contentsAreaWrap .myMenuBtnArea {
	position: absolute;
	width: 350px;
	top: -23px;
	left: 223px;
	margin: 0;
	z-index: 50;
}
div#top-02 .myMenuBtnArea p {
	margin-bottom: 6px;
}
div#top-02 .myMenuBtnArea .mmbaTxtLink {
	margin: 0;
	text-align: right;
}
div#top-02 .myMenuBtnArea .mmbaTxtLink img {
	margin-top: -1px;
}

/*---マイメニュー／留意事項同意大枠---*/

div#top-02 .agreementArea {
	margin-bottom: 30px;
	padding: 0 0 5px;
	text-align: left;
}
div#top-02 .contentsAreaWrap .myMenuArea,
div#top-02 .contentsAreaWrap .agreementArea {
	margin-bottom: 0;
}
div#top-02 .myMenuArea h2,
div#top-02 .agreementArea h2,
div#top-02 .myMenuArea h3,
div#top-02 .agreementArea h3 {
	float: none;
	margin: 0;
	padding: 0;
	background: none;
}

/*---マイメニュー回り込み解除---*/
* html div#top-02 .myMenuArea .mmaClearFix,
* html div#top-02 .agreementArea .aaClearFix { zoom: 1; } /* ie6 */
*:first-child+html div#top-02 .myMenuArea .mmaClearFix,
*:first-child+html div#top-02 .agreementArea .aaClearFix { zoom: 1; } /* ie7 */
div#top-02 .myMenuArea .mmaClearFix:after,
div#top-02 .agreementArea .aaClearFix:after { content: ''; display: block; clear: both; height: 0; }

/*---マイメニュー見出し要素---*/
div#top-02 .myMenuArea .mmaHeading1,
div#top-02 .agreementArea .aaHeading1 {
	background-position: left top;
	background-repeat: no-repeat;
}
div#top-02 .agreementArea .aaHeading1 {
	height: 39px;
}
div#top-02 .myMenuArea .mmaHeading3 {
	margin-bottom: 7px;
}
div#top-02 .myMenuArea .mmaHeading1 p,
div#top-02 .agreementArea .aaHeading1 p {
	padding: 5px 5px 0 0;
}
div#top-02 .myMenuArea .mmaHeading3 h3 {
	padding-left: 15px;
	background-position: left 0.35em;
	background-repeat: no-repeat;
	font-weight: normal;
	font-size: 90%;
}
* html div#top-02 .myMenuArea .mmaHeading3 h3 { zoom: 1; } /* ie6 */
div#top-02 .myMenuArea .mmaLeft {
	float: left;
}
div#top-02 .myMenuArea .mmaRight {
	float: right;
}
div#top-02 .myMenuArea .mmaHeading1 .mmaBtn1 {
	float: left;
	padding-top: 10px;
}
div#top-02 .myMenuArea .mmaHeading1 .mmaBtn2 {
	float: right;
}
div#top-02 .myMenuArea .mmaHTitle01 {
	width: 180px;
	height: 39px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
div#top-02 .myMenuArea .mmaHTitle02 {
	width: 600px;
	height: 39px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
div#top-02 .myMenuArea .mmaHBtn01 a {
	display: block;
	width: 111px;
	height: 20px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}
div#top-02 .myMenuArea .mmaHBtn02 a {
	display: block;
	width: 100px;
	height: 30px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

/*---マイメニューリード文---*/
div#top-02 .myMenuArea .mmaLead {
	margin: 10px 20px;
}

/*---マイメニューセクション---*/
div#top-02 .agreementArea .aaCBlock {
	margin: 0 0 7px;
	padding: 7px 0 1px;
	background-color: #fff;
}
div#top-02 .agreementArea .aaCBlock.aaLastChild {
	margin-bottom: 0;	
}

/*---マイメニュー設定---*/
div#top-02 .myMenuArea .mmaShortcut,
div#top-02 .myMenuArea .mmaPanel {
	margin: 0 0 10px 0;
	padding: 7px 0 1px;
	text-align:left;
}
div#top-02 .myMenuArea .mmaPanel {
	margin-bottom: 25px;
	padding-top: 15px;
	background-position: left top;
	background-repeat: no-repeat;
}
div#top-02 .myMenuArea .mmaCheckList ul {
	list-style: none;
	width: 730px;
	margin: 0;
	padding: 0;
}
div#top-02 .myMenuArea .mmaCheckList li {
	float: left;
	width: 232px;
	height: 36px;
	margin: 0 6px 5px 0;
	padding: 1px;
	border: 1px solid #ccc;
	background: #fff;
	overflow:hidden;
}
div#top-02 .myMenuArea .mmaCheckList.mmaPanel li {
	height: 68px;
}
div#top-02 .myMenuArea .mmaCheckList li label {
	display: block;
	width: 203px;
	padding-left: 36px;
	height: 36px;
	cursor: pointer;
	background-image: url(/aib/images/renew/mm_bk_mymenu_03.gif);
	background-position: top left;
	background-repeat: repeat-y; 
}
div#top-02 .myMenuArea .mmaCheckList li label.mmaSelected {
	background-position: left -36px;
}
div#top-02 .myMenuArea .mmaCheckList.mmaPanel li label {
	height: 68px;
	background-image: url(/aib/images/renew/mm_bk_mymenu_04.gif);
}
div#top-02 .myMenuArea .mmaCheckList.mmaPanel li label.mmaSelected {
	background-position: left 68px;
}
div#top-02 .myMenuArea .mmaSubmitBtn {
	margin: 0;
	padding:0;
	text-align: center;
}
div#top-02 .myMenuArea .mmaSubmitBtn li {
	display: inline;
	margin: 0 8px;
}
div#top-02 .myMenuArea .mmaCheckList li input {
	display: none;
}
/*---マイメニューショートカットリンク---*/
div#top-02 #myMenuGadget .mmaShortcutLink {
	margin: 0 0 18px;
	padding-top: 10px;
	text-align:left;
}
div#top-02 #myMenuGadget .mmaShortcutLink ul {
	list-style: none;
	width: 712px;
	margin: 0 0 0 5px;
	padding: 0;
}
div#top-02 #myMenuGadget .mmaShortcutLink li {
	float: left;
	width: 119px;
	padding: 0 5px 0 18px;
	background-position: left 0.3em;
	background-repeat: no-repeat;
}

/*---ガジェットエリア大枠---*/
div#top-02 #myMenuGadget .mmaGadgetWrap {
	position: relative;
	width: 720px;
	margin: 0 0 10px;
	padding-top: 10px;
	background-position: left top;
	background-repeat: no-repeat;
}
div#top-02 #myMenuGadget .mmaGadgetWrap.mmaBgNone {
	background: none;
}
div#top-02 #myMenuGadget .mmaGadgetWrap table {
	margin: 0 0 -10px;
	border: none;
}
div#top-02 #myMenuGadget .mmaGadgetWrap tr {
	background: none;
}
div#top-02 #myMenuGadget .mmaGadgetWrap td {
	padding: 0;
	border: none;
	vertical-align: top;
}
div#top-02 #myMenuGadget .mmaGadgetWrap .mmaGadgetCol {
	width: 354px;
/*	padding: 0 0 10px;*/
}
div#top-02 #myMenuGadget .mmaGadgetWrap .mmaGadgetColSp {
	width: 13px;
}

/*---ガジェット基本要素---*/
div#top-02 #myMenuGadget .mmaGadget {
	width: 354px;
	margin-bottom: 15px;
	background-image: url(/aib/images/renew/mm_bk_mymenu_06.gif);
	background-position: left top;
	background-repeat: no-repeat;	
}
div#top-02 #myMenuGadget .mmaGadget.mmaUiOver {
	background-position: left -500px;
}
div#top-02 #myMenuGadget .mmaGadgetInner {
	position: relative;
}
div#top-02 #myMenuGadget .mmaIframeCover {
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0px;
	z-index: 2000;
}
div#top-02 #myMenuGadget iframe {
	width: 350px;
}
div#top-02 #myMenuGadget .mmaTxtC { text-align: center; }
div#top-02 #myMenuGadget .mmaMb05 {	margin-bottom: 5px !important; }
div#top-02 #myMenuGadget .mmaMb10 {	margin-bottom: 10px !important; }
div#top-02 #myMenuGadget .mmaMb20 {	margin-bottom: 20px !important; }
div#top-02 #myMenuGadget .mmaMb35 {	margin-bottom: 35px !important; }
div#top-02 #myMenuGadget .mmaPt10,
div#top-02 .contentsAreaWrap.cawPt10 { padding-top: 10px !important; }
div#top-02 #myMenuGadget .mmaPt20 {	padding-top: 20px !important; }
div#top-02 #myMenuGadget .mmaPt30 {	padding-top: 30px !important; }

/*---ガジェット保存エリア---*/
div#top-02 #myMenuGadget .mmaSaveBox {
	width: 720px;
	margin-bottom: 13px;
}
div#top-02 #myMenuGadget .mmaSaveBox .mmaSaveTxt {
	text-align:left;
}
div#top-02 #myMenuGadget .mmaSaveBox .mmaSaveBtn {
	float: right;
	width: 78px;
}
div#top-02 #myMenuGadget .mmaSaveBox .mmaSBtn01 a {
	display: block;
	width: 78px;
	height: 24px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

/*---ガジェット移動枠---*/
div#top-02 #myMenuGadget .mmaPlaceholder {
	width: 352px;
	margin: 0 2px 15px 0;
	padding: 0;
	background: #eee;
	visibility: visible !important;
}
div#top-02 #myMenuGadget .mmaPlaceholder * {
	visibility: hidden;
}

/*---ガジェット大枠指定（header）---*/
div#top-02 #myMenuGadget .mmaGadgetHeader {
	position: relative;
	margin: 0 3px 0 1px;
	height: 27px;	
	padding-top: 1px;
	cursor: move;
}
div#top-02 #myMenuGadget .mmaGadgetHeader h3 {
	height: 27px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
div#top-02 #myMenuGadget .mmaUiOver .mmaGadgetHeader h3 {
	background-position: left -27px;
}
div#top-02 #myMenuGadget .mmaGadgetHeader .mmaUiIcon {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 4px;
	right: 27px;
	background-image: url(/aib/images/renew/mm_bk_mymenu_07.gif);	
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
}
div#top-02 #myMenuGadget .mmaGadgetHeader .mmaUiRemove {
	right: 3px;
	background-image: url(/aib/images/renew/mm_bk_mymenu_08.gif);	
}
div#top-02 #myMenuGadget .mmaGadgetHeader .mmaUiIconMinus {
	background-position: left -20px;
}

/*---ガジェット大枠指定（body）---*/
div#top-02 #myMenuGadget .mmaGadgetBody {
	margin: 0 3px 0 1px;
	height: 262px;
}
div#top-02 #myMenuGadget .mmaGadget.mmaCompact .mmaGadgetBody {
	display: block;
	height: 107px;
}
div#top-02 #myMenuGadget .mmaGadget.mmaMinimize .mmaGadgetBody {
	display: none;
}
div#top-02 #myMenuGadget .mmaGadget.mmaRemove {
	display: none;
}

/*---ガジェット大枠指定（footer）---*/
div#top-02 #myMenuGadget .mmaGadgetFooter {
	height: 3px;
	line-height: 0;
	padding: 0;
	font-size: 0;
	background-position: left top;
	background-repeat: no-repeat;
}
div#top-02 #myMenuGadget .mmaGadget.mmaUiOver .mmaGadgetFooter {
	background-position: left -3px;
}

/*---留意事項同意---*/
div#top-02 .agreementArea .aaCBlock {
	padding-top: 14px;
	padding-bottom: 14px;
}
div#top-02 .agreementArea .aaHTitle01 {
	width: 149px;
	height: 39px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
div#top-02 .agreementArea .aaCBlock p {
	margin-bottom: 19px;
	text-align: center;
}
div#top-02 .agreementArea .aaCBlock ul {
	text-align: center;
}
div#top-02 .agreementArea .aaCBlock li {
	display: inline;
	margin: 0 5px;
}
div#top-02 .agreementArea .aaCBlock #setumei_area {
	text-align: left;
}
div#top-02 .agreementArea .aaCBlock #setumei_area li {
	display: list-item;
	margin: 0 5px;
}
div#top-02 .agreementArea .aaTxtBox {
	margin: 0 95px 18px;
	padding: 15px 5px;
	font-weight: bold;	
}
div#top-02 .agreementArea .aaTxtBox p {
	margin-bottom: 10px;
}
div#top-02 .agreementArea .aaTxtBox .aaLastChild {
	margin-bottom: 0;
}

/*---NoScript処理---*/
div#top-02 .topNoscriptArea {
	margin: 23px 0 30px;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #fff;
}
div#top-02 .topNoscriptArea p {
	margin-bottom: 17px;
	text-align: center;
}

/*=============================================
/	ライフプランアンケート
/=============================================*/

/*---共通事項---*/
div#top-02 .boxSetLine.lifePlanEnquete {
	width: auto;
	margin-bottom: 30px;
}
div#top-02 .contentsAreaWrap .boxSetLine.lifePlanEnquete {
	margin-bottom: 0;
}
div#top-02 .lifePlanEnquete .lpeInner {
	padding: 25px 12px;
}
div#top-02 .lifePlanEnquete h2 {
	margin: 0;
	padding: 0;
	background: none;
}
div#top-02 .lifePlanEnquete h3 {
	float: none;
	line-height: 1.5;
	margin: 10px 0 16px;
	padding: 5px 3px 4px 7px;
	color: #fff;
}
div#top-02 .lifePlanEnquete h3 span {
	display: block;
	margin-left: 1.7em;
	text-indent: -1.7em;
}
div#top-02 .lifePlanEnquete ul {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #666;
}
* html div#top-02 .lifePlanEnquete .lpeClear { zoom: 1; } /* ie6 */
*:first-child+html div#top-02 .lifePlanEnquete .lpeClear { zoom: 1; } /* ie7 */
div#top-02 .lifePlanEnquete .lpeClear:after { content: ''; display: block; clear: both; height: 0; }

/*---興味のある項目の選択---*/
div#top-02 .lifePlanEnquete .lpeCheck {
	padding: 3px 2px 17px;
}
div#top-02 .lifePlanEnquete .lpeCheck li {
	float: left;
	letter-spacing: -0.4em;
}
div#top-02 .lifePlanEnquete .lpeCheck .lpeLastChild {
	width: 134px;
}
div#top-02 .lifePlanEnquete .lpeCheck li span {
	display: inline-block;
	width: 18px;
	padding-top: 5px;
	vertical-align: top;
	letter-spacing: normal;
}
div#top-02 .lifePlanEnquete .lpeCheck li .lpeLabel {
	width: 166px;
	padding-top: 0;
}
div#top-02 .lifePlanEnquete .lpeCheck .lpeLastChild .lpeLabel {
	width: 106px;
}
div#top-02 .lifePlanEnquete .lpeCheck li input {
	margin: 0;
	vertical-align: top;
}

* html div#top-02 .lifePlanEnquete .lpeCheck li span { display:inline; zoom: 1; padding-top: 3px;  } /* ie6 */
* html div#top-02 .lifePlanEnquete .lpeCheck li .lpeLabel { padding-top: 0; } /* ie6 */
* html div#top-02 .lifePlanEnquete .lpeCheck li input { width: 1em; height: 1em; } /* ie6 */
*:first-child+html div#top-02 .lifePlanEnquete .lpeCheck li span { display:inline; zoom: 1; padding-top: 0; width: 21px; } /* ie7 */
*:first-child+html div#top-02 .lifePlanEnquete .lpeCheck li .lpeLabel { width: 165px; } /* ie7 */
*:first-child+html div#top-02 .lifePlanEnquete .lpeCheck .lpeLastChild .lpeLabel { width: 105px; } /* ie7 */

/*---同意事項---*/
div#top-02 .lifePlanEnquete .lpeList {
	margin: 0 5px 14px 6px;
	font-size: 95%;
}
div#top-02 .lifePlanEnquete .lpeList li {
	line-height: 1.5;
	margin-bottom: 4px;
	padding-left: 16px;
	background: url(/aib/images/renew/mm_bk_enquete_01.gif) left 0.28em no-repeat;
}
div#top-02 .lifePlanEnquete .lpeList .lpeCaution {
	color: #900;
}

/*---同意確認---*/
div#top-02 .lifePlanEnquete .lpeConfirm {
	display: block;
	padding: 10px 0 11px;
	background-color: #ffc;
	text-align: center;	
}
div#top-02 .lifePlanEnquete .lpeConfirm li {
	display: inline;
	margin: 0 40px;
	font-weight: bold;
}
div#top-02 .lifePlanEnquete .lpeConfirm input {
	margin-top: -2px;
	margin-right: 10px;
	vertical-align: middle;
}

/*---フォームボタン---*/
div#top-02 .lifePlanEnquete .lpeBtn01 {
	margin-bottom: 25px;
	text-align: center;
}
div#top-02 .lifePlanEnquete .lpeBtn02 {
	margin: 20px 0 0;
	text-align: center;
}
div#top-02 .lifePlanEnquete .lpeBtn01 input,
div#top-02 .lifePlanEnquete .lpeBtn02 input {
	width: 290px;
	height: 30px;
}
div#top-02 .lifePlanEnquete .lpeBtn02 input {
	width: 310px;
}


/*=============================================
/	ローディング／メンテナス参考ソース
/=============================================*/
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaLoading,
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte,
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte02,
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte03,
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte04 {
	width: 350px;
	height: 262px;
}
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaLoading {
	background: url(/aib/images/renew/mm_bk_mymenu_12.gif) center center no-repeat;	
}
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte {
	background: url(/aib/images/renew/mm_bk_mymenu_13.gif) center center no-repeat;	
}
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte02 {
	background: url(/aib/images/renew/mm_bk_mymenu_14.gif) center center no-repeat;	
}
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte03 {
	background: url(/aib/images/renew/mm_bk_mymenu_15.gif) center center no-repeat;	
}
div#top-02 #myMenuGadget .mmaGadget .mmaGadgetBody .mmaMainte04 {
	background: url(/aib/images/renew/mm_bk_mymenu_16.gif) center center no-repeat;	
}
div#top-02 #myMenuGadget .mmaGadget.mmaCompact .mmaGadgetBody .mmaLoading,
div#top-02 #myMenuGadget .mmaGadget.mmaCompact .mmaGadgetBody .mmaMainte,
div#top-02 #myMenuGadget .mmaGadget.mmaCompact .mmaGadgetBody .mmaMainte02,
div#top-02 #myMenuGadget .mmaGadget.mmaCompact .mmaGadgetBody .mmaMainte03,
div#top-02 #myMenuGadget .mmaGadget.mmaCompact .mmaGadgetBody .mmaMainte04 {
	height: 107px;
}


/*=============================================
/	TOP NEW
/=============================================*/

body#CMN02bodyTop { background:#eee none; min-width:720px; }

#CMN02container #top-02 {
	width:100%;
	text-align:center;
	padding:20px 0;
}

*html #CMN02footer {
	width:expression(document.body.clientWidth < 722? "720px" : "auto");
}

#CMN02header,
#CMN02ftWrap,
#cmn02contents {
	width: 1088px;
	text-align: left;
	margin:0 auto;
}
#CMN02header {
	height:70px;
}
#CMN02header h1.logo {
	padding:15px 0 0;
	float:left;
}
#CMN02header p.dlLogo {
	padding:29px 0 0 30px;
	float:left;
}
#CMN02header,
#cmn02contents {
	zoom:1;
}
#CMN02header:after,
#cmn02contents:after {
	content: "";
	display: block;
	clear: both;
}

#cmn02contents #cmn02main {
	float: left;
	width: 720px;
}
#cmn02contents #cmn02sub {
	float: right;
	width: 342px;
}
#cmn02contents .subBlock {
	width:340px;
	float:right;
}
#cmn02contents ul.sbNav,
#cmn02contents ul.sbNav li,
#cmn02contents ul.sbLink,
#cmn02contents ul.sbLink li,
#cmn02sub .subInfoBlock ul,
#cmn02sub .subInfoBlock li,
#cmn02contents .myMenuTit ul,
#cmn02contents .myMenuTit li,
#cmn02contents .topMesBlock ul,
#cmn02contents .topMesBlock li,
#cmn02contents .topMenuBlock ul,
#cmn02contents .topMenuBlock li {
	list-style:none;
	margin:0;
	padding:0;
}
/* topBlock */
#cmn02contents .topBlock {
	width:716px;
	margin:0 0 13px;
}
#cmn02contents .topWrap {
	width:716px;
	padding:10px 0 0;
}
#cmn02contents .topBlockInner {
	width:716px;
	padding:0 0 10px;
}
/* topInfoBlock */
#cmn02contents .topInfoBlock {
	width:695px;
	margin:0 auto 10px;
	padding:0 0 10px;
	text-align:left;
	font-size:96.29%;
	background:url(/aib/images/renew/cmn02_line_top_01.gif) repeat-x left bottom;
}
#cmn02contents .topInfoInner {
	zoom:1;
	background-size:86px 100%;
}
#cmn02contents .topInfoWrap {
	padding:10px 0 0;
	zoom:1;
}
#cmn02contents .topInfoarea {
	padding:0 0 5px;
	zoom:1;
}
#cmn02contents .topInfoTit {
	padding:0 0 0 100px;
	text-align:left;
	zoom:1;
}
#cmn02contents .topInfoTit h2 {
	display:none;
}
#cmn02contents .topInfoBlock dl {
	margin:0 0 10px;
}
#cmn02contents .topInfoBlock dd {
	padding-left:80px;
	margin:-1.6em 0 10px 0;
	position:relative;
}
#cmn02contents .topInfoBlock dd span.bld {
	font-weight:bold;
	color:#eb0000;
}
#cmn02contents .topInfoBlock img {
	vertical-align:top;
}
#cmn02contents .topInfoBlock p.caution img {
	padding:0 5px 0 0;
}
#cmn02contents .arrowLink {
	padding:0 0 0 8px!important;
	zoom:1;
}
#cmn02contents .blankLink {
	padding:0 0 0 12px!important;
	zoom:1;
}
#cmn02contents a.arrowLink {
	padding:0 0 0 8px!important;
	zoom:1;
	line-height:1.2;
}

#cmn02contents .infoBlock .bld {
	font-weight:bold;
}
/* webBlock */
#cmn02contents .webBlock {
	width:693px;
	margin:0 auto;
	padding:0 0 4px;
}
#cmn02contents .webTitBlock {
	width:693px;
	margin:0 auto;
	padding:7px 0 3px;
	position:relative;
	overflow:hidden;
}
#cmn02contents .webTitBlock h2.name {
	color:#FFF;
	font-weight:bold;
	margin:12px 0 10px 10px;
	line-height:1.2;
	text-align:left;
	float:left;
	font-size:16px;
	background:none;
	padding:0;
	width:550px;
	display:inline;
}

#cmn02contents .webTitBlock p.updateBtn,
#cmn02contents .webTitBlock p.updateDisableBtn{
	float:right;
	margin-right:7px;
	display:inline;
}

#cmn02contents .webInner {
	width:689px;
	margin:0 0 0 2px;
	padding:10px 0 0;
}
#cmn02contents .webInner p.time {
	color:#666;
	font-size:88.88%;
	text-align:right;
	margin:0 12px 5px 0;
}

#cmn02contents .updateBtn input,
#cmn02contents .updateDisableBtn input {
	width:114px;
	height:43px;
	border:none;
}

#cmn02contents .updateBtn input,
#cmn02contents .updateDisableBtn input {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

#cmn02contents .updateBtn input{
	cursor:pointer;
}

#cmn02contents .topBlock table.dataTable {
	padding:0;
	border:none;
	width:665px;
	margin:0 auto 10px;
	border-top:solid 1px #CCC;
	border-left:solid 1px #CCC;
	border-right:solid 1px #CCC;
}
#cmn02contents .topBlock table.dataTable th {
	border:none;
	border-bottom:solid 1px #CCC;
	color:#000;
	background:#FFF;
	padding-left:15px;
	padding-right:15px;
	font-size:118.5%;
	line-height:1.8;
	font-weight:bold;
}
#cmn02contents .topBlock table.dataTable td {
	border:none;
	border-bottom:solid 1px #CCC;
	padding-left:15px;
	padding-right:15px;
	text-align:left;
}
#cmn02contents .topBlock table.dataTable td .balance {
	color:#000;
	font-weight:bold;
	font-size:133.3%;
	margin:0 0 3px;
	overflow:hidden;
}

#cmn02contents .topBlock table.dataTable td .payBalance {
	color:#000;
	overflow:hidden;
}

* html #cmn02contents .topBlock table.dataTable td .balance,
* html #cmn02contents .topBlock table.dataTable td .payBalance { zoom: 1; } /* ie6 */

*:first-child+html #cmn02contents .topBlock table.dataTable td .balance,
*:first-child+html #cmn02contents .topBlock table.dataTable td .payBalance { zoom: 1; } /* ie7 */


#cmn02contents .topBlock table.dataTable td .fLeft{
	display:block;
	float:left;
}

#cmn02contents .topBlock table.dataTable td .fRight{
	display:block;
	text-align:right;
	float:right;
}

#cmn02contents .topBlock table.dataTable td {
	border-left:dashed 1px #acacac;
}

#cmn02contents .topBlock table.dataTable td.btnArea,
#cmn02contents .topBlock table.dataTable td.btnArea2 {
	border-left:none;
	padding:5px 0;
	width:130px;
}
#cmn02contents .topBlock table.dataTable td.btnArea2 {
	background:#FFF;
}
#cmn02contents .detailsBtn a,
#cmn02contents .transChBtn a,
#cmn02contents .transChBtn02 a,
#cmn02contents .loginBtn a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:130px;
	height:40px;
}

/* webSubBlock */
#cmn02contents .webSubBlock {
	width: 665px;
	overflow:hidden;
	margin:0 auto;
	padding:0 0 5px;
}
#cmn02contents .webSubBlock ul,
#cmn02contents .webSubBlock li {
	list-style:none;
	margin:0;
	padding:0;
}
#cmn02contents .webSubBlock ul {
	float:right;
}
#cmn02contents .webSubBlock li {
	width:164px;
	float:left;
}
#cmn02contents .webSubBlock li.pointBtn a,
#cmn02contents .webSubBlock li.kouzaBtn a,
#cmn02contents .webSubBlock li.mailBtn a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:164px;
	height:43px;
}
#cmn02contents .topMenuBlock {
	width: 721px;
	zoom:1;
	overflow:hidden;
	padding:0 0 10px;
}
#cmn02contents .topMenuBlock:after {
	content: "";
	display: block;
	clear: both;
}
#cmn02contents .topMenuBlock ul {
	width:745px;
}
#cmn02contents .topMenuBlock li {
	float:left;
	margin:0 8px 7px 0!important;
}

#cmn02contents .topMenuBlock li.tmBtn15,
#cmn02contents .topMenuBlock li.tmBtn16{
	margin:0 10px 7px 0!important;
}

#cmn02contents .topMenuBlock li a,
#cmn02contents .topMenuBlock li.tmDisableBtn06 {
	display:block;
	overflow:hidden;
/*	text-indent:-9999px;*/
	text-align:center;
	width:174px;
	height:94px;
}

#cmn02contents .topMenuBlock li.tmBtn13 a,
#cmn02contents .topMenuBlock li.tmBtn14 a{
	width:356px;
}

#cmn02contents .topMenuBlock li.tmBtn15 a,
#cmn02contents .topMenuBlock li.tmBtn16 a,
#cmn02contents .topMenuBlock li.tmBtn17 a {
	width:232px;
}

#cmn02contents .topMenuBlock li.tmBtn09 a {
	width:721px;
}

#cmn02contents .topMenuBlock span.iconTxt{
	text-align:center;
	padding:5px 0;
	display:block;
}

/* topMessageBlock */
#cmn02contents .topMesBlock {
	width:714px;
	margin:0 0 15px;
	text-align:left;
	font-size:88.88%;
	background-size:714px 100%;
}
#cmn02contents .topMesWrap {
	width:714px;
	padding:16px 0 0;
}
#cmn02contents .topMesInner {
	padding:0 16px 10px;
	zoom:1;
}
#cmn02contents .topMesBlock h3 {
	text-indent:-9999px;
	width:197px;
	height:18px;
	float:none;
	margin:0 0 10px 0;
}
#cmn02contents .topMesBlock li {
	padding:0 0 0 10px;
	margin:0 0 10px;
	background:url(/aib/images/renew/cmn02_bg_list01.gif) no-repeat left 0.7em;
}

/* myMenuTit */
#cmn02contents .myMenuTit {
	width:720px;
	overflow:hidden;
	padding:15px 0 0;
}
#cmn02contents .myMenuTit h2 {
	text-indent:-9999px;
	width:133px;
	height:22px;
	float:left!important;
	margin:0 35px 0 0!important;
}
#cmn02contents .myMenuWrap {
	width:435px;
	float:left;
	margin:10px 0 0;
}
#cmn02contents .myMenuWrap p.blankLink {
	float:left;
	font-size:88.8%;
}
#cmn02contents .myMenuTit ul {
	float:right;
}
#cmn02contents .myMenuTit li {
	float:left;
	margin:0 3px 0 0;
}
#cmn02contents .editBtn a,
#cmn02contents .saveBtn a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:114px;
	height:43px;
}
.mmBtnBlock {
	text-align:center;
}
#cmn02contents .myMenuArea .mmBtn01 {
	width:357px;
	margin:0 auto;
	padding:10px 0;
}
#cmn02contents .myMenuArea .mmBtn01 a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:357px;
	height:53px;
}
/* subBlock */
#cmn02contents .topLgTimeBlock {
	width:342px;
	text-align:left;
}
#cmn02contents .topLgTimeBlock p {
	margin:0;
	padding:0;
}
#cmn02contents .subBlock {
	padding:0 0 10px;
	font-size:88.8%;
}
#cmn02contents ul.sbNav {
	margin:10px 0;
	width:342px;
	overflow:hidden;
}

#cmn02contents ul.sbNav.wnone{
	width:auto;
}

#cmn02contents ul.sbNav li {
	float:left;
	margin:0 1px 0 0;
}
#cmn02contents li.registinfoNav a,
#cmn02contents li.helpNav a,
#cmn02contents li.faqNav a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:113px;
	height:42px;
}
/* sbLink */

#cmn02contents ul.sbLink{
	width:342px;
	overflow:hidden;
}

#cmn02contents ul.sbLink li {
	float:left;
	white-space:nowrap;
	margin:0 30px 5px 0;
	padding:0 0 0 10px;
}
/* subBnr*/
#cmn02sub div.subBnr p {
	margin:0 0 10px;
}
#cmn02sub div.subBnrWrap {
	margin:0 0 20px;
}
#cmn02sub .subInfoBlock {
	width:342px;
	text-align:center;
	font-size:88.8%;
	margin:0;
	background-size:342px 100%
}
#cmn02sub .subInfoWrap {
	width:342px;
	padding:10p 0 0;
}
#cmn02sub .subInfoInner {
	width:342px;
	padding:0 0 20px;
}
#cmn02sub .colWrap {
	width:310px;
	margin:0 auto;
}
#cmn02sub .subInfoBlock h3 {
	float:none;
	text-align:left;
	margin:0 0 10px 0;
	padding:15px 0 0;
}
#cmn02sub .subInfoBlock .col01,
#cmn02sub .subInfoBlock .col02 {
	width:310px;
	margin:0 auto;
	text-align:left;
	overflow:hidden;
	padding-bottom:10px;
	margin-bottom:10px;
	background:url(/aib/images/renew/cmn02_line_top_01.gif) repeat-x left bottom;
}
#cmn02sub .subInfoBlock .col03 {
	width:310px;
	text-align:left;
	border-bottom:solid 1px #888;
	margin:0 auto;
	padding:0 0 10px;
}
#cmn02sub .subInfoBlock .col03 li {
	padding:0 0 0 1em;
	text-indent:-1em;
}

#cmn02sub .subInfoBlock .col03.bnone{
	padding-bottom:0;
	border:none;
}

#cmn02sub .subInfoBlock .col03 p.freedial{
	font-weight:bold;
	text-align:center;
	font-size:115%;
}

#cmn02sub .subInfoBlock .col03 p.freedial span{
	background:url(/aib/images/renew/cmn02_icon_07.gif) no-repeat left 0.1em;
	padding:0 0 0 28px;
}

#cmn02sub .subInfoBlock .col04 {
	width:306px;
	margin:0 auto;
	overflow:hidden;
}
#cmn02sub .subInfoBlock .col04 ul {
	text-align:left;
	margin:10px 0 0;
}
#cmn02sub .subInfoBlock dt {
	width:86px;
	float:left;
	margin:0;
	padding:0;
}

#cmn02sub .subInfoBlock .telGs dt{
	width:116px;
}

#cmn02sub .subInfoBlock dd {
	width:220px;
	float:right;
	margin:5px 0 0;
	padding:0;
}
#cmn02sub .subInfoBlock .telGs dd{
	width:182px;
	margin:0;
}

#cmn02sub .subInfoBlock p.tit {
	margin:0 0 10px;
}
#cmn02contents p.inqBtn {
	margin:0;
}
#cmn02contents p.inqBtn a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:304px;
	height:43px;
}

/*=============================================
/	ボタン ロールオーバー
/=============================================*/

.hdNav a:hover,
#cmn02contents .updateBtn:hover,
#cmn02contents a:hover{
	-ms-filter: "alpha( opacity=80 )";
	filter: alpha( opacity=80 );
	opacity: 0.8;
}

#cmn02contents a:hover img{
	-ms-filter: "alpha( opacity=80 )";
	filter: alpha( opacity=80 );
}

@media screen and (max-width:1088px){

#CMN02container #top-02 {
	padding:0 0 1px;
}

#cmn02contents {
	text-align:center;
}
#cmn02contents .topMenuBlock,
#cmn02contents #cmn02sub {
	float:none;
	margin:0 auto;
	padding:0;
	width:720px;
	text-align:left;
}
#cmn02contents .topMenuBlock {
	margin-bottom:20px;
}
#CMN02header,
#cmn02contents,
#CMN02ftWrap {
	width:720px!important;
	margin:0 auto;
}
body#CMN02bodyTop,
#CMN02container {
	width: auto;
}
#cmn02contents {
	margin:0 auto;
}
#CMN02container,
#CMN02header,
#CMN02globalMenu {
	width: auto;
}
#cmn02contents #cmn02main {
	float: none;
	margin: 0 auto;
	text-align:left;
}
#cmn02contents .topLgTimeBlock {
	width:350px;
}
#cmn02contents .topLgTimeBlock {
	float:left;
	margin:12px 0 0;
}
#cmn02contents .subWrap,
#cmn02contents .subBlock {
	float:none;
	overflow:hidden;
	width:720px;
}

#cmn02contents ul.sbNav {
	float:right;
}

#cmn02contents ul.sbLink {
	width:720px;
}
#cmn02sub div.subBnr {
	width:720px;
	margin:0 0 20px 0;
	overflow:hidden;
}
#cmn02sub div.subBnrWrap {
	width:720px;
	margin:0;
	padding:10px 0 0;
}
#cmn02sub .subBnrInner {
	width:720px;
	padding:0;
	overflow:hidden;
	text-align:center;
	font-size:0;
}
#cmn02sub div.subBnr p {
	padding:0 8px 10px;
	margin:0 auto;
	display:inline-block;
	display:inline\9; /* IE8 and below */
	text-align:center;
	zoom:1;
}

#cmn02sub div.subBnr p:not(:target){display:inline-block;}

#cmn02sub .subInfoBlock {
	width:720px;
	margin:0 0 20px;
	background-size:720px 100%
}
#cmn02sub .subInfoWrap {
	width:720px;
	padding:5px 0 0
}
#cmn02sub .subInfoInner {
	width:720px;
}
#cmn02sub .colWrap {
	width:690px;
	margin:0 auto;
	overflow:hidden;
	background:url(/aib/images/renew/cmn02_line_top_01.gif) repeat-x left bottom;
}
#cmn02sub .subInfoBlock .col01,
#cmn02sub .subInfoBlock .col02 {
	width:345px;
	background:none;
	margin:0;
}
#cmn02sub .subInfoBlock .col01 {
	float:left;
}
#cmn02sub .subInfoBlock .col02 {
	float:left;
}
#cmn02sub .subInfoBlock .col03 {
	padding:10px 0;
	white-space:nowrap;
}

#cmn02sub .subInfoBlock .col03 p.freedial{
	text-align:left;
}

#cmn02sub .subInfoBlock .col03,
#cmn02sub .subInfoBlock .col04 {
	width:690px;
}
#cmn02sub .subInfoBlock .col04 .colInner {
	width:320px;
	float:left;
}
#cmn02sub .subInfoBlock .col04 ul {
	text-align:left;
	margin:15px 0 0;
	float:left;
}

#cmn02sub .subInfoBlock dd {
	width:250px;
}

#cmn02contents p.inqBtn {
	text-align:left;
}
}

/*=============================================
/	メガメニュー
/=============================================*/

#CMN02header .tblLogo{
	display:none;
}

#CMN02header ul.hdNav li.securityNav{
	margin:15px 10px 0 0;
}

#CMN02header ul.hdNav li.logoutNav{
	margin:15px 0 0 0;
}

#CMN02header li.productlistNav a{
	width:143px;
	height:42px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background-position: left top;
	background-repeat: no-repeat;
}

#CMN02suvNav {
	display: none;
	width:1048px;
	min-width: 1048px;
	position: absolute;
	top:-30px;
	left:20px;
	text-align:center;
	z-index:100;
	background:url(/aib/images/renew/cmn02_img_spacer.gif) repeat;
}

#CMN02suvNav .icon {
	margin-left: 7px;
	vertical-align: middle;
}

#CMN02suvNav .CMN02suvWrap {
	margin:21px 0 0;
	padding:0;
	border:solid 1px #999;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

#CMN02suvNav .CMN02suvNavIn{
	padding: 20px 0;
	border:solid 4px #e0e0e0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background:#fff;
	position:relative;
	z-index:100;
}

#CMN02suvNav .CMN02suvBg{
	background:url(/aib/images/renew/cmn02_bg_balloon_01.gif) no-repeat center top;
	width:39px;
	height:25px;
	position:absolute;
	top:1px;
	left:667px;
	z-index:101;
}

#CMN02suvNav .CMN02suvBg.bgType01{
	left:820px;
}

#CMN02suvNav ul,
#CMN02suvNav li{
	margin:0;
	padding:0;
	list-style:none;
}

#CMN02suvNav .CMN02suvWrap .suvNavLink {
	overflow: hidden;
	width: 960px;
	margin:0 auto;
	text-align:left;
}
#CMN02suvNav h4 {
	color: #333;
	font-size: 114.3%;
	font-weight: normal;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
}
#CMN02suvNav ul {
	padding-bottom: 30px;
}
#CMN02suvNav li {
	font-size: 100%;
	margin-bottom: 5px;
	padding-left: 18px;
	background-position: left 0.3em;
	background-repeat: no-repeat;
}

#CMN02suvNav li.noLink {
	color: #888;
	padding-left: 18px;
}

#CMN02suvNav li.noLink{
	background-image: url(/aib/images/renew/cmn02_icon_close_01.gif);
}

#CMN02suvNav .section {
	float: left;
	margin-right: 30px;
	width: 275px;
}

#CMN02suvNav .sec02 {
	width: 275px;
}

#CMN02suvNav .sec03 {
	width: 350px;
	margin-right: 0;
}

#CMN02suvNav .suvNavBox {
	clear: both;
	border: 1px solid #bbb;
	margin-bottom: 20px;
	padding: 15px 20px 10px;
}

#suvNav .suvNavBox ul {
	overflow: hidden;
	*zoom: 1;
}

#CMN02suvNav .suvNavBox ul li {
	float: left;
	width: 285px;
}
#CMN02suvNav .closeBtn {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	width:143px;
	height:42px;
	margin: 0 auto;
	cursor:pointer;
	background-position: left top;
	background-repeat: no-repeat;
}



#CMN02suvNav .closeBtn:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	-moz-opacity: .6;
	opacity: 0.6;
}

#CMN02suvNav .closeBtn.showBtn {
	display: block;
}

#cmn02contents .topInfoBlock dd {
	margin:-1.6em 0 5px 0;
}

#cmn02contents .topInfoarea {
	padding:0 0 1px;
}

#cmn02main .topInfoBlock dd.unreadMes{
	margin:0 0 5px;
	padding:0 0 0 80px;
}

#cmn02main .topInfoBlock dd.unreadMes .unreadNum{
	color:#fc0101;
	font-weight:bold;
}

#cmn02main .topInfoBlock dd.unreadMes a{
	color:#000;
	text-decoration:none;
}

#CMN02container,
#CMN02footer {
	width:expression(document.body.clientWidth < 1088? "1088px" : "auto");
}


/* メガメニュー追加 */

#CMN02header {
	position: relative;
	z-index: 100;
}

#CMN02suvNavAll{
	position:relative;
	z-index:1000;
	text-align:left;
}

#suvWrap {
	display: none;
	background:transparent;
	cursor: pointer;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
}

*+html #suvWrap {
	background:url(/aib/images/renew/cmn02_img_spacer.gif) repeat;
}
*html #suvWrap {
	background:url(/aib/images/renew/cmn02_img_spacer.gif) repeat;
	position: absolute;
}

#suvWrap.covBody {
	display: block;
}

#hdWrap{
	width:100%;
	z-index:100;
	position:relative;
}
@media screen and (max-width:1088px){


#CMN02header p.dlLogo{
	padding: 29px 0 0 10px;
}

#CMN02header .pcLogo{
	display:none;
}

#CMN02header .tblLogo{
	display:block;
}

#CMN02suvNav {
	width:680px;
	min-width: 680px;
	top:-10px;
	left:20px;
}

#CMN02suvNav .CMN02suvBg{
	left:300px;
}

#CMN02suvNav .CMN02suvBg.bgType01{
	left:450px;
}

#CMN02suvNav .CMN02suvWrap .suvNavLink {
	width: 610px;
}

#CMN02suvNav .sec03 {
	width: 610px;
	overflow:hidden;
}

#CMN02suvNav .sec04 {
	width: 275px;
	float:left;
	margin-right: 30px;
}

#CMN02container,
#CMN02footer {
	width:expression(document.body.clientWidth < 720? "720px" : "auto");
}

}
