@charset "Shift_JIS";

#breadCrumbBtm {
	border-top: 1px solid #ccc;
	margin: 30px 0;
	padding-top: 10px;
	width: 100%;
}

/* 振込・振替トップ */

.name {
	font-size: 121.4%;
}
.inItem {
	text-align: center;
}
.inItem a.inputSubmit {
	display: inline-block;
	text-align: center;
}
.lt-ie8 .inItem a.inputSubmit {
	display: inline;
	zoom: 1;
}
.lt-ie8 .widthStep {
	width: 138px;
}
.lt-ie8 .widthStep .stemImg {
	display: block;
	text-indent: 150%;
}
.furikomiTop .tableStyle {
	width: 99.9%;
}
	.furikomiTop .topTh {
		font-size: 157.1%;
		letter-spacing: 0.7em;
		padding: 15px 5px 15px 25px;
	}
	.lt-ie8 .furikomiTop .topTh {
		padding: 15px 5px 15px;
	}
	.furikomiTop .topTd {
		background: #f5f5f5;
		padding: 35px 25px 15px;
	}
	.furikomiTop .topTd2 {
		background: #f5f5f5;
		padding: 25px 25px 15px;
	}
		.furikomiTop .topTdBtn {
			height: 69px;
			margin-bottom: 22px !important;
			overflow: hidden;
			/zoom: 1;
		}
			.furikomiTop .topTdL {
				float: left;
				width: 352px;
			}
			.furikomiTop .topTdR {
				float: right;
				width: 352px;
			}
	.furikomiTop .fToph01 {
		height: 48px;
		overflow: hidden;
		text-indent: 150%;
		white-space: nowrap;
		width: 349px;
	}
		.furikomiTop td table th {
			background: #e6e6e6;
			color: #333;
		}
		.furikomiTop td table td {
			background: #FFF;
		}
		.furikomiTop .moreLink {
			padding: 8px;
			text-align: center;
		}
.listArray {
	margin-left: -10px;
	overflow: hidden;
	/zoom: 1;
}
.lt-ie7 .listArray {
	margin-left: -20px;
}
	.listArray li {
		float: left;
		font-size: 114.3%;
		margin-left: 10px;
		width: 300px;
	}
		.listArray li a {
			padding-left: 20px;
		}
		.listArray li a:before {
			top: 5px;
		}
	.lt-ie8 .listArray.iconlink a {
		background-position: 0 5px;
	}
.btnArray {
	margin-left: -20px;
	overflow: hidden;
	/zoom: 1;
}
.lt-ie7 .btnArray {
	margin-left: -40px;
}
	.btnArray li {
		float: left;
		line-height: 1;
		margin: 0 0 8px 20px;
	}
		.btnArray li a,
		.btnArray li span {
			height: 42px;
			text-indent: 1000px;
			width: 224px;
		}
		.btnArray li .furikomi-b11dis {
			background: url(/aib/images/renew/btn-furikomi-b11dis.png) no-repeat;
		}

.furikomi_other {
	border-top: 1px dashed #aaa;
	overflow: hidden;
	padding: 15px 0 0;
}


/* 並べ替え */

.changeBtn {
	height: 43px;
	width: 110px;
}
.lt-ie8 .changeBtn {
	display: inline;
}

/* 検索画面 */

.searchTable th {
	text-align: left;
}

/* ア〜ワ Button */

.kana_search li {
	float: left;
	width: 10%;
}
.lt-ie8 .kana_search li {
	width: 43px;
}
.lt-ie8 .kana_search li.last {
	width: 41px;
}
.lt-ie7 .kana_search li.last {
	width: 38px !important;
}
.safari .kana_search li.last {
	width: 49px;
}
.kana_search li li {
	float: none;
	padding: 0;
	text-align: center;
	width: auto;
	zoom: 1;
}
	.lt-ie8 .kana_search li.last li {
		width: auto;
	}
		.kana_search li li input {
			font-size: 128.6%;
			margin: 0 0 0 0;
			padding: 0;
			width: 38px;
		}
		.lt-ie8 .kana_search li li input {
			padding: 0;
		}
		.safari .kana_search li li input,
		.ipad .kana_search li li input {
			-webkit-appearance: none;
			background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
		}
.kana_search li li {
	height: 45px;
}
.furikomiTable td {
	padding: 4px;
}
	.furikomiTable td a {
		display: block;
		font-size: 114.3%;
		padding: 6px 0 4px;
		text-align: center;
	}
.furikomiTable td a:hover {
	background: #eee;
}
.mLkana {
	margin-left: 3em;
}
.lt-ie8 .mLkana {
	margin-left: 2em;
}

/* 口座番号 */

.showData {
	background: url(/aib/images/renew/cmn-sprite.png) no-repeat -813px 0;
	display: inline-block;
	height: 28px;
	margin: 5px 5px 0 5px;
	vertical-align: top;
	width: 33px;
}
.lt-ie8 .showData {
	display: inline;
	zoom: 1;
}
.itemData,
.itemTxt {
	display: inline-block;
}
.lt-ie8 .itemData,
.lt-ie8 .itemTxt {
	display: inline;
	zoom: 1;
}
.itemTxt {
	margin-right: 15px;
}
.dlTime {
	overflow: hidden;
	/zoom: 1;
}
	.dlTime dt {
		float: left;
		width: 9em;
	}
	.dlTime dd {
		overflow: hidden;
	}

/* 口座番号 */

.furikomi-b04,
.furikomi-b06 {
	height: 42px;
	width: 204px;
}
.furikomi-b07,
.furikomi-b08 {
	height: 52px;
	width: 338px;
}
.furikomi-b09 {
	height: 42px;
	width: 338px;
}
.vTop {
	vertical-align: top;
}
	.vTop p input,
	.vTop p select {
		display: inline;
		vertical-align: text-bottom;
	}
.editList li {
	float: left;
	margin-right: 10px;
}
.editList .arrowEdit {
	background: url(/aib/images/renew/img-furikomi-01.png) right 5px no-repeat;
	padding-right: 35px;
}
.editList .editTxt {
	padding-top: 8px;
}
.registerEdit {
	margin-bottom: 10px;
	width: 900px;
}
.registerEdit p {
	float: left;
	padding-top: 5px;
	width: 550px;
}
.registerEdit div {
	float: right;
	height: 42px;
	width: 338px;
}

/* ボタン */

.furikomi-a04,
.furikomi-a05,
.furikomi-a06,
.furikomi-a08,
.furikomi-a04dis,
.furikomi-a05dis,
.furikomi-a06dis {
	height: 69px;
	width: 352px;
}
.furikomi-a04dis,
.furikomi-a05dis,
.furikomi-a06dis {
	display: block;
	overflow: hidden;
	text-indent: 150%;
	white-space: nowrap;
}
.furikomi-a04dis {
	background: url(/aib/images/renew/btn-furikomi-a04dis.png) no-repeat;
}
.furikomi-a05dis {
	background: url(/aib/images/renew/btn-furikomi-a05dis.png) no-repeat;
}
.furikomi-a06dis {
	background: url(/aib/images/renew/btn-furikomi-a06dis.png) no-repeat;
}
.furikomi-a07,
.furikomi-a07dis {
	height: 39px;
	width: 93px;
}
.furikomi-a07dis {
	background: url(/aib/images/renew/btn-furikomi-a07dis.png) no-repeat;
	border: none;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-indent: 150%;
	white-space: nowrap;
}
.lt-ie8 .furikomi-a07dis {
	display: block;
	zoom: 1;
}
input.uketorinin,
input.tourokulistEdit {
	border: none;
	cursor: pointer;
	display: block;
	margin: 0;
	padding: 0;
	text-indent: 150%;
}
input.uketorinin:hover,
input.btn-furikomi-b09:hover {
	filter: alpha(opacity=60);
	-moz-opacity: .6;
	opacity: .6;
}
input.uketorinin {
	height: 43px;
	width: 144px;
}

/* ポップアップ */

.vM {
	vertical-align: middle;
}
#hydeItem #popCont {
	display: none;
}
#popCont {
	padding: 10px 10px 20px;
	width: 820px;
}
.frBtn {
	float: right;
	height: 42px;
	margin: 0;
	vertical-align: bottom;
	width: 204px;
}
.lt-ie8 #fancybox-outer {
	width: 860px !important;
}
	#popCont .head1 {
		margin: 0 0 10px 0;
	}
	#popCont .popSelect {
		border-bottom: 1px dotted #aaa;
		margin: 0;
	}
		#popCont .popSelect ul {
			letter-spacing: -.4em;
			overflow: hidden;
			width: 810px;
		}
		.lt-ie8 #popCont .popSelect ul {
			zoom: 1;
		}
			#popCont .popSelect ul li {
				border-bottom: 1px dotted #aaa;
				display: inline-block;
				letter-spacing: normal;
				margin-bottom: -1px;
				padding: 5px 0 3px;
				vertical-align: top;
				width: 270px;
			}
			.lt-ie8 #popCont .popSelect ul li {
				display: inline;
				zoom: 1;
			}
				#popCont .popSelect ul li a {
					display: block;
					padding: 8px 10px 4px 15px;
					position: relative;
				}
				#popCont .popSelect ul li a:before {
					background: url(/aib/images/renew/cmn-sprite.png) no-repeat -803px 0;
					content: "";
					display: block;
					height: 4px;
					left: 5px;
					position: absolute;
					top: 17px;
					width: 4px;
				}
				.lt-ie8 #popCont .popSelect ul li a {
					background: url(/aib/images/renew/icon-mark-01.png) no-repeat 5px 17px;
					position: static;
				}
				#popCont .popSelect ul li a:hover {
					background: #eee;
				}
				.lt-ie8 #popCont .popSelect ul li a:hover {
					background: #eee url(/aib/images/renew/icon-mark-01.png) no-repeat 5px 17px;
				}
		#popCont .btnListR li {
			width: 118px;
		}
.closeModal {
	float: right;
	width: 120px;
}
	input.popclose {
		border: none;
		cursor: pointer;
		float: right;
		height: 43px;
		margin-bottom: 3px;
		outline: none;
		text-indent: 150%;
		width: 98px;
	}
	#fancybox-close {
		display: none !important;
	}
.serviceBox {
	background: #fff;
	border: 2px solid #ccc;
	margin: 30px auto;
	padding: 10px;
}
	.serviceBox .ovh.mB10 {
		margin-bottom: 0 !important;
	}
	.serviceBox .ovh.mB10 .figureR {
		margin-top: -20px;
	}
	.icon_head {
		font-weight: bold;
		font-size: 114.3%;
		margin-bottom: 15px;
	}
		.icon_head span {
			color: #FFF;
			float: left;
			margin-right: 10px;
			padding: 3px 10px 0;
		}
	.notice_mail {
		height: 42px;
		margin: 0 auto 5px;
		width: 425px;
	}


/* 出金口座・振込金額の設定 */

.nameHeadge {
	font-size: 85.7%;
	margin-top: 10px;
}
	.nameHeadge dt {
		float: left;
		font-weight: bold;
		width: 140px;
	}
	.nameHeadge dd {
		margin-bottom: 10px;
		overflow: hidden;
		/zoom: 1;
	}
.scrollL {
	float: left;
	margin: 70px 0 0;
	text-align: center;
	width: 220px;
}
.scrollBox {
	background: #fcfcfc;
	border: 2px solid #ccc;
	height: 150px;
	margin-top: 5px;
	overflow: auto;
	overflow-y: scroll;
	padding: 15px;
}
	.scrollBox .headge li span {
		zoom: normal;
	}
.pointCount {
	margin-top: 20px;
	overflow: hidden;
	/zoom: 1;
}
	.pointCount dt {
		clear: both;
		float: left;
		width: 8.5em;
	}
	.pointCount dd {
		overflow: hidden;
		/zoom: 1;
	}
		.pointCount dd .point {
			float: left;
			text-align: right;
			width: 140px;
			white-space: nowrap;
		}
		.pointCount dd .pointTxt {
			margin-left: 10px;
			overflow: hidden;
		}


/* 振込の受付完了 */

.editData {
	display: none;
}


/* 振込の受付完了 */

.finSect .boxSetLine {
	border: 2px solid;
	margin-bottom: 30px;
}
	.finSect .innerlineBox {
		padding: 10px;
	}
		.finSect .boxSetLine h3,
		.finSect .box01 h3 {
			font-size: 107.1%;
			font-weight: bold;
		}
		.finSect .boxSetLine strong {
			color: #c00;
			font-weight: bold;
		}
		.finSect .linkColor {
			color: #0600FF;
		}
	.finSect .boxSetParagraph {
		overflow: hidden;
		/zoom: 1;
	}
		.finSect .PR-left {
			float: left;
			margin-right: 30px;
		}
		.finSect .PR-right {
			margin-top: 20px;
			overflow: hidden;
		}
.finSect .box01 {
	border: 2px solid #ccc;
	margin-bottom: 30px;
}
	.finSect .box01 h3 {
		margin-bottom: 10px;
	}
	.finSect .box02 {
		border: 2px solid #ccc;
		margin-bottom: 30px;
		padding: 0 0 15px !important;
	}
	.finSect .box02 h4 {
	    background-color: #999;
	    color: #fff !important;
		font-weight: bold;
	    padding: 3px;
	    text-align: center;
	}
	.finSect .box02 .pack {
		padding: 15px;
	}
		.finSect .box02 .pack .left {
			float: left;
			margin-right: 30px;
			width: 200px;
		}
		.finSect .box02 .pack .right {
			overflow: hidden;
		}
.finSect .paragraphRight {
	margin: 0 15px;
	text-align: right;
}
.lt-ie7 .tableStyle.table01 .flBox.w60p {
	width: 58%;
}