@charset "Shift_JIS";
@import "/aib/css/color_normalbase.css";

#bgCov,
#bgCov2,
#header {
	border-top: 5px solid #AAD339;
}
#suvNav li {
	/background: url(/aib/images/renew/icon-link-01.png) no-repeat 0 5px;
}
#suvNav li.noLink {
	/background: url(/aib/images/renew/icon-link-03.png) no-repeat 0 5px;
}
#Footer {
	border-top: #005B24 4px solid;
}
.topLine .help li a,
#suvNav li:before,
.closeBtn,
#glNav li a,
.btnLogout a,
#toTop a,
.iconlink a:before,
a.iconlink:before,
.iconOutlink a:before,
a.iconOutlink:before,
.iconQlink a:before,
a.iconQlink:before,
#suvNav .noLink:before,
#suvNav li a:before,
.infoBlock .inqBtn a {
  background: url(/aib/images/renew/cmn-sprite.png) no-repeat;
}
.iconOutlink a:before,
a.iconOutlink:before {
	background-position: 0 -15px;
}
.iconlink a:before,
a.iconlink:before {
	background-position: -56px -15px;
}
.iconQlink a:before,
a.iconQlink:before {
	background-position: -71px -15px;
}
.iconlink a,
a.iconlink {
	/background: url(/aib/images/renew/icon-link-04.png) no-repeat 0 4px;
}
.iconOutlink a,
a.iconOutlink {
	/background: url(/aib/images/renew/icon-link-02.png) no-repeat 0 4px;
}
